<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/head.html"/>
    <link rel="stylesheet" href="/css/addUser.css">
    <script type="text/javascript" src="/js/userAdd.js" charset="UTF-8"></script>
</head>
<body>
    <header th:replace="common/menu :: header"></header>

    <div lang="en" th:replace="common/menu :: menu"></div>

    <div id="main">
        <h4>회원 추가</h4>
        <form id="infoForm" name="activity" th:action="@{/user/add}" th:object="${userDto}" method="post" novalidate>
            <div id="actInfo">
                <div class="infoContent">
                    <div class="title">유저 이름</div>
                    <div class="content">
                        <input class="ctext" type="text" id="name" th:field="*{name}" placeholder="공백없이 2글자 이상 입력해주세요" aria-describedby="nameHelp" required minlength="2">
<!--                        <small id="nameHelp">-->
<!--                            공백없이 2글자 이상 입력해주세요.-->
<!--                        </small>-->
<!--                        <small class="invalid-feedback">이름을 입력하세요.</small>-->
                    </div>
                    <div>
                        <div class="title" th:if="${#fields.hasErrors('name')}"></div>
                        <small style="font-size: 10px;color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</small>
                    </div>
                </div>
                <div class="infoContent">
                    <div class="title">닉네임</div>
                    <div class="content">
                        <input class="ctext" type="text" id="nickname" th:field="*{nickname}" placeholder="공백없이 3글자 이상 10글자 이하로 입력해주세요." aria-describedby="nicknameHelp" required minlength="3" maxlength="10">
                    </div>
                    <div>
                        <div class="title" th:if="${#fields.hasErrors('nickname')}"></div>
                        <small style="font-size: 10px;color: red" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Nickname Error</small>
                    </div>

<!--                    <small id="nicknameHelp">-->
<!--                        공백없이 3글자 이상 10글자 이하로 입력해주세요.-->
<!--                    </small>-->
<!--                    <small class="invalid-feedback">닉네임을 입력하세요.</small>-->

                </div>
                <div class="infoContent">
                    <div class="title">전화 번호</div>
                    <div class="content">
                        <input class="ctext" type="text" id="phone" th:field="*{phone}" placeholder="010-xxxx-xxxx 형태로 입력해주세요."pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{3,4}" aria-describedby="phoneHelp" required>

                    </div>
                    <div>
                        <div class="title" th:if="${#fields.hasErrors('phone')}"></div>
                        <small style="font-size: 10px;color: red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone Error</small>
                    </div>
<!--                    -->
<!--                    <small id="phoneHelp">-->
<!--                        010-xxxx-xxxx 형태로 입력해주세요.-->
<!--                    </small>-->
<!--                    <small class="invalid-feedback">전화번호를 입력하세요.</small>-->

                </div>
                <div class="infoContent">
                    <div class="title" style = "vertical-align: top;">관심사</div>
                    <div class="content2">
                        <span th:each="interest : ${interestList}">
                            <input type="checkbox"
                                   th:id="interest+${interest.id}"
                                   name="userInterestList"
                                   th:value="${interest.name}" hidden/>
                            <div th:id="${interest.id}" class="button">
                                <span th:text="${interest.name}"></span>
                                <img src="/img/deactive.png">
                            </div>
                        </span>

                    </div>
                </div>
            </div>

            <div id="buttonSet">
                <button id="reset" type="reset" name="button" onclick="goBack()">
                    <img src="/img/cancel.png">
                </button>
                <button id="submit" name="button" type="submit" value="등록">
                    <img src="/img/register.png">
                </button>
            </div>
        </form>
    </div>
        <script type="application/javascript">
            function goBack() {
                window.history.back();
            }

            (function () {
                'use strict';

                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');

                    // Loop over them and prevent submission
                    Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated')
                        }, false)
                    })
                }, false)
            }())
        </script>
</body>
</html>