<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    이름: <h3 th:text="${userInfo.name}"></h3>
    <hr>
    <div th:contenteditable="false">
        닉네임: <h3 th:text="${userInfo.nickname}"></h3>
    </div>
    <hr>
    소셜 로그인 정보: <h3 th:text="${userInfo.socialId}"></h3>
    <hr>
    <div th:contenteditable="false">
        연락처: <h3 th:text="${userInfo.phone}"></h3>
    </div>
    <hr>
    타입:
    <div th:contenteditable="false">
        <h3 th:if="${userInfo.userType==1}" th:text="관제사"></h3>
        <h3 th:if="${userInfo.userType==0}" th:text="이용자"></h3>
    </div>
    <hr>
    <div th:contenteditable="false">
        봉사 시간: <h3 th:text="${userInfo.volunteerTime}"></h3>
    </div>
    <hr>
    관심사:
    <span th:each="interestName : ${userInfo.interestName}">
        <span th:text="${interestName}"></span>
    </span>
    <hr>
    봉사 항목: <h3 th:text="${userInfo.nickname}"></h3>
    <hr>
    커뮤니티: <h3 th:text="${userInfo.nickname}"></h3>
    <hr>
    <a th:href="@{'/user/edit/' + ${userInfo.id}}">
        <button>수정</button>
    </a>
</body>
</html>
