<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="common/header :: header">
    <meta charset="UTF-8">
    <title>상대로 프로젝트</title>
    <style>
        .container {
            max-width: 100%;
        }
        .tagify-outside{
            border: 0;
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body>
    <div lang="en" th:replace="common/menu :: menu"></div>

    <div id="main" style="margin-left: 15%"></div>

    <div class="container">
        <button id="openNav" style="display: none" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
        <div class="py-5 text-center">
            <h2>유저 정보</h2>
        </div>
        <div class="justify-content-center" style="margin-left: 15%">

            <div id="message" style="display: none" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
                <span id="mContent">메시지</span>
                <button onclick="hideMessage()" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
<!--            <form id="form" class="needs-validation col-sm-6" th:action="@{'/user/edit/' + ${userInfo.id}}" th:object="${userInfo}" method="post" novalidate>-->
<!--                <input type="hidden" name="_method" value="put"/>-->
                <input type="hidden" name="id" id="uid" th:value="${userInfo.id}"/>

                <div class="form-group">
                    <label for="name">이름</label>

                    <h5 id="name" th:text="${userInfo.name}" style="display: inline"></h5>
                    <input id="editName" type="text" name="name" th:value="${userInfo.name}"
                           style="display: none;" placeholder="이름을 입력하세요."
                           aria-describedby="nameHelp" required minlength="2">

                    <small id="nameHelp" style="display: none;">
                        2글자 이상 입력해주세요.
                    </small>
                    <small class="invalid-feedback">2글자 이상을 입력해주세요</small>

                    <button id="nameEditBtn" th:onclick="|javascript:editName()|">수정</button>
                    <button id="nameCancleBtn" th:onclick="|javascript:cancleName()|" style="display: none;">취소</button>

<!--                    <h4 id="name" th:text="${userInfo.name}" th:value="${userInfo.name}"></h4>-->
<!--                    <input type="hidden" name="name" th:value="${userInfo.name}"/>-->
                </div>
                <hr>
                <div class="form-group">
                    <label for="nickname">닉네임</label>

                    <h5 id="nickname" th:text="${userInfo.nickname}" style="display: inline"></h5>
                    <input id="editNickname" type="text" name="nickname" th:value="${userInfo.nickname}"
                           style="display: none;" placeholder="닉네임을 입력하세요."
                           aria-describedby="nicknameHelp" required minlength="2">

<!--                    <input id="nickname" type="text" name="nickname" th:value="${userInfo.nickname}" placeholder="닉네임을 입력하세요." aria-describedby="nicknameHelp" required minlength="2">-->
                    <small id="nicknameHelp" style="display: none;">
                        2글자 이상 입력해주세요.
                    </small>
                    <small class="invalid-feedback">2글자 이상을 입력해주세요</small>
<!--                    <small class="form-text text-danger" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Nickname Error</small>-->

                    <button id="nicknameEditBtn" th:onclick="|javascript:editNickname()|">수정</button>
                    <button id="nicknameCancleBtn" th:onclick="|javascript:cancleNickname()|" style="display: none;">취소</button>
                </div>
                <hr>
                <div class="form-group">
                    <label for="socialId">이메일</label>
                    <h4 id="socialId" th:text="${userInfo.socialId}" th:value="${userInfo.socialId}"></h4>
                    <input type="hidden" name="socialId" th:value="${userInfo.socialId}"/>
                </div>
                <hr>
                <div class="form-group">
                    <label for="phone">전화 번호</label>

                    <h5 id="phone" th:text="${userInfo.phone}" style="display: inline"></h5>
                    <input id="editPhone" type="text" name="phone" th:value="${userInfo.phone}"
                           style="display: none;" placeholder="전화번호를 입력하세요."
                           aria-describedby="phoneHelp" required minlength="2">

                    <small id="phoneHelp" style="display: none;">
                        전화번호를 입력해주세요.
                    </small>
                    <small class="invalid-feedback">전화번호를 입력해주세요.</small>

                    <button id="phoneEditBtn" th:onclick="|javascript:editPhone()|">수정</button>
                    <button id="phoneCancleBtn" th:onclick="|javascript:canclePhone()|" style="display: none;">취소</button>

<!--                    <label for="phone">전화번호</label>-->
<!--                    <input id="phone" type="text" name="phone" th:value="${userInfo.phone}" placeholder="전화번호를 입력하세요." aria-describedby="phoneHelp" required>-->
<!--                    <small id="phoneHelp">-->
<!--                        전화번호를 입력해주세요.-->
<!--                    </small>-->
<!--                    <small class="invalid-feedback">전화번호를 입력해주세요.</small>-->
<!--                    <small class="form-text text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone Error</small>-->
                </div>
                <hr>
                <div class="form-group">
                    <label for="userType">유저 타입</label>
                    <select id="userType" name="userType">
                        <option th:value="1" th:selected="${userInfo.userType==1}">관제사</option>
                        <option th:value="0" th:selected="${userInfo.userType==0}">이용자</option>
                    </select>
                    <button id="userTypeEditBtn" th:onclick="|javascript:editUserType()|">수정</button>
                </div>
                <hr>
                <div class="form-group">
                    <label for="volunteerTime">봉사 시간</label>
                    <span id="volunteerTime" th:text="${userInfo.volunteerTime}+'시간'" th:value="${userInfo.volunteerTime}"></span>
                    <input type="hidden" id="currentTime" name="volunteerTime" th:value="${userInfo.volunteerTime}"/>

                    <input id="time" type="text" size="5px" placeholder="시간"/>
                    <button type="button" name="action" value="plus" onclick="plus()">증가</button>
                    <button type="button" name="action" value="minus" onclick="minus()">감소</button>

                </div>
                <hr>
                <div class="form-group">
                    <label for="tags">관심사</label>
                    <div id="whitelist" th:text="${whitelist}" hidden></div>
                    <input id="tags" type="text" name="tags" th:value="${#strings.listJoin(userInfo.interestName, ',')}"
                           class="tagify-outside" aria-describedby="tagHelp"/>
                </div>
                <hr>
                <div class="form-group">
                    봉사 항목:
                </div>
                <hr>
                <div class="form-group">
                    커뮤니티:
                </div>
                <hr>
                <button>
                    <a href="javascript:history.back()">뒤로가기</a>
                </button>
<!--                <div class="form-group">-->
<!--                    <input type="submit" value="수정">-->
<!--                </div>-->
<!--            </form>-->
        </div>
    </div>
    <script th:replace="common/fragments.html :: form-validation"></script>
    <script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
    <script type="application/javascript">
        $(function () {
            var id = document.getElementById('uid').value;

            function tagRequest(url, interestName) {
                $.ajax({
                    dataType: "json",
                    autocomplete: {
                        enabled: true,
                        rightKey: true,
                    },
                    contentType: "application/json; charset=utf-8",
                    method: "POST",
                    url: "/user/interest" + url +"/"+id,
                    data: JSON.stringify({'interestName': interestName})
                }).done(function (data, status) {
                    console.log("${data} and status is ${status}");
                });
            }

            function onAdd(e) {
                tagRequest("/add", e.detail.data.value);
            }

            function onRemove(e) {
                tagRequest("/remove", e.detail.data.value);
            }

            function onSuggestionsListUpdate({ detail:suggestionsElm }){
                console.log(  suggestionsElm  )
            }

            function onSuggestionsListHide(){
                console.log("hide dropdown")
            }

            function onDropdownScroll(e){
                console.log(e.detail)
            }

            function renderSuggestionsList(){
                tagify.dropdown.show.call(tagify) // load the list
                tagify.DOM.scope.parentNode.appendChild(tagify.DOM.dropdown)
            }

            var tagInput = document.querySelector("#tags");

            var tagify = new Tagify(tagInput, {
                enforceWhitelist: true,
                whitelist: JSON.parse(document.querySelector("#whitelist").textContent),
                dropdown : {
                    position: "manual",
                    maxItems: Infinity,
                    enabled: 0,
                    classname: "customSuggestionsList"
                } // map tags
            });

            tagify.on("dropdown:show", onSuggestionsListUpdate)
                  .on("dropdown:hide", onSuggestionsListHide)
                  .on('dropdown:scroll', onDropdownScroll);
            tagify.on("add", onAdd);
            tagify.on("remove", onRemove);

            renderSuggestionsList();

            // add a class to Tagify's input element
            tagify.DOM.input.classList.add('form-control');
            // re-place Tagify's input element outside of the  element (tagify.DOM.scope), just before it
            tagify.DOM.scope.parentNode.insertBefore(tagify.DOM.input, tagify.DOM.scope);
        });
    </script>
    <script type="application/javascript">

        function plus() {
            var id = document.getElementById('uid').value;
            var testValue = document.getElementById("currentTime").value;
            var addTime = document.getElementById("time").value;
            document.getElementById("volunteerTime").innerHTML = String(Number(testValue)+Number(addTime))+" 시간";
            document.getElementById("currentTime").value=Number(testValue)+Number(addTime);
            document.getElementById("time").value=null;

            $.post("/userdata/change", {
                id: id,
                time: document.getElementById("currentTime").value
            }, function(data) {
                console.log(data);
            });
        }

        function minus() {
            var id = document.getElementById('uid').value;
            var testValue = document.getElementById("currentTime").value;
            var addTime = document.getElementById("time").value;

            document.getElementById("volunteerTime").innerHTML = String(Number(testValue)-Number(addTime));
            document.getElementById("currentTime").value=Number(testValue)-Number(addTime);
            document.getElementById("time").value=null;

            $.post("/userdata/change", {
                id: id,
                time: document.getElementById("currentTime").value
            }, function(data) {
                console.log(data);
            });
        }

        function editName() {
            var id = document.getElementById('uid').value;

            $('#editName').toggle();

            $('#name').toggle();

            $('#nameCancleBtn').toggle();

            $('#nameHelp').toggle();

            if($('#nameEditBtn').html() == '수정'){
                $('#nameEditBtn').html('완료');
            } else{
                $('#nameEditBtn').html('수정');
                $.post("/userdata/name", {
                    id: id,
                    name: $('#editName').val()
                }, function(data) {
                    $('#name').html(data);
                    $('#mContent').html("이름을 수정하였습니다.");
                    $('#message').show();

                    setTimeout(function() {
                        hideMessage();
                    }, 2000);
                });
            }
        }

        function cancleName() {
            $('#editName').toggle();
            $('#name').toggle();
            $('#nameCancleBtn').toggle();
            $('#nameHelp').toggle();
            $('#nameEditBtn').html('수정');
        }

        function editNickname() {
            var id = document.getElementById('uid').value;

            $('#editNickname').toggle();

            $('#nickname').toggle();

            $('#nicknameCancleBtn').toggle();

            $('#nicknameHelp').toggle();

            if($('#nicknameEditBtn').html() == '수정'){
                $('#nicknameEditBtn').html('완료');
            } else{
                $('#nicknameEditBtn').html('수정');
                $.post("/userdata/nickname", {
                    id: id,
                    nickname: $('#editNickname').val()
                }, function(data) {
                    $('#nickname').html(data);
                    $('#mContent').html("닉네임을 수정하였습니다.");
                    $('#message').show();

                    setTimeout(function() {
                        hideMessage();
                    }, 2000);
                });
            }
        }

        function cancleNickname() {
            $('#editNickname').toggle();
            $('#nickname').toggle();
            $('#nicknameCancleBtn').toggle();
            $('#nicknameHelp').toggle();
            $('#nicknameEditBtn').html('수정');
        }

        function editPhone() {
            var id = document.getElementById('uid').value;

            $('#editPhone').toggle();

            $('#phone').toggle();

            $('#phoneCancleBtn').toggle();

            $('#phoneHelp').toggle();

            if($('#phoneEditBtn').html() == '수정'){
                $('#phoneEditBtn').html('완료');
            } else{
                $('#phoneEditBtn').html('수정');
                $.post("/userdata/phone", {
                    id: id,
                    phone: $('#editPhone').val()
                }, function(data) {
                    $('#phone').html(data);
                    $('#mContent').html("전화번호를 수정하였습니다.");
                    $('#message').show();

                    setTimeout(function() {
                        hideMessage();
                    }, 2000);
                });
            }
        }

        function canclePhone() {
            $('#editPhone').toggle();
            $('#phone').toggle();
            $('#phoneCancleBtn').toggle();
            $('#phoneHelp').toggle();
            $('#phoneEditBtn').html('수정');
        }

        function editUserType() {
            var id = document.getElementById('uid').value;

            $.post("/userdata/usertype", {
                id: id,
                type: $('#userType').val()
            }, function(data) {
                $('#mContent').html("유저 타입을 수정하였습니다.");
                $('#message').show();

                setTimeout(function() {
                    hideMessage();
                }, 2000);
            });
        }

        function hideMessage() {
            $('#message').hide();
        }
    </script>
</body>
</html>