<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
  <title>상대로</title>
  <th:block th:replace="common/header :: head"/>
</head>
<body>
  <header th:replace="common/header :: header"></header>

  <div lang="en" th:replace="common/menu :: menu"></div>

  <div id="main">
    <h4>유저 관리</h4>

    <form class="well form-search" th:action="@{'/user'}" method="GET">
      <select name="condition">
        <option value="1">유저이름</option>
        <option value="2">닉네임</option>
      </select>
      <input name="keyword" type="text" placeholder="검색어를 입력해주세요">
      <button>검색하기</button>
    </form>

      <div id="basicBody">

        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">유저 이름</th>
            <th scope="col">닉네임</th>
            <th scope="col">유저타입</th>
          </tr>
          </thead>

          <tbody>
          <tr th:each="userInfo: ${simpleUserList}">
            <th scope="row">
              <span th:text="${totalNum}-10*${simpleUserList.number}-${userInfoStat.count}+1"></span>
            </th>
            <td>
              <!--            <a th:href="@{'/user/detail/' + ${userInfo.id}}">-->
              <a th:href="@{'/user/edit/' + ${userInfo.id}}">
                <span th:text="${userInfo.name}"></span>
              </a>
            </td>
            <td>
              <span th:text="${userInfo.nickname}"></span>
            </td>
            <td>
              <span th:if="${userInfo.userType==1}" th:text="관제사"></span>
              <span th:if="${userInfo.userType==0}" th:text="이용자"></span>
            </td>
          </tr>
          </tbody>
        </table>

        <div>
          <ul class="pagination">
          <span th:if="${!simpleUserList.first}">
            <li class="page-item">
              <a class="page-link" th:href="'?page='+${simpleUserList.number-1}+'&keyword='+${keyword}+'&condition='+${condition}">&larr; Previous</a>
            </li>
          </span>
            <span th:if="${!simpleUserList.last}">
            <li class="page-item">
              <a class="page-link" th:href="'?page='+${simpleUserList.number+1}+'&keyword='+${keyword}+'&condition='+${condition}">Next &rarr;</a>
            </li>
          </span>
          </ul>
        </div>
      </div>
      <div>
        <a th:href="@{/user/add}">
          <button>유저추가</button>
        </a>
      </div>
  </div>

  <div lang="en" th:replace="common/footer :: footer"></div>
</body>
</html>