<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<script type="application/javascript" th:fragment="form-validation">
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        }, false)
    }())
</script>

<script th:fragment="change-onoff">

    var status=userStatus();

    function userStatus() {
        var currentStatus;

        $.get("/userdata/getBasicInfo", function (data) {
            if(data.status==1) {
                img.src="/img/on.png";
                currentStatus=true;
            } else {
                img.src="/img/off.png";
                currentStatus=false;
            }
        });

        console.log(status);
        return currentStatus;
    }


    var img = document.getElementById("onoff");

    img.addEventListener('click', function () {
        changeStatus();
    });

    function changeStatus() {

        $.post("/userdata/setStatus", {isOn: !status}, function (data) {
            // console.log(data);
            if(data) {
                status=data;
                userStatus();
                // img.src="/img/on.png";
                // status=data;
            } else {
                status=data;
                userStatus();
                // img.src="/img/off.png";
                // status=data;
            }
        });
        // if() {
        //     img.src="/img/off.png";
        // } else {
        //     img.src="/img/on.png";
        // }
    }
</script>

</html>