<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header">
    <div id="logo">S A N G D A E R O</div>
    <div id="button">
        <img id="onoff" src="/img/on.png" alt="on">
        <a th:href="@{/login}"><img id="loginout" src="/img/login.png" alt="on"></a>
    </div>
</header>

<head th:fragment="head">
	<meta charset="UTF-8">
    <title>상대로</title>
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">-->
<!--    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=6e4jn9c1iy"></script>-->
<!--    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=6e4jn9c1iy&submodules=geocoder"></script>-->

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/header.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/node_modules/@yaireo/tagify/dist/tagify.css">
<!--    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>-->
<!--    <link rel="stylesheet" href="/node_modules/bootstrap-toggle/css/bootstrap-toggle.min.css"/>-->
<!--    <link rel="stylesheet" href="/node_modules/w3-css/w3.css">-->
    <link rel="stylesheet" href="/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css" >


    <script src="https://kit.fontawesome.com/ef6d04f75a.js" crossorigin="anonymous"></script>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/js-cookie/src/js.cookie.js"></script>
    <script src="/node_modules/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
	<script src="/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.min.js"></script>
    <script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
    <script src="/js/sidebar.js"></script>

<!--	<style th:inline="text">-->
<!--   #sidebarCollapse {-->
<!--    width: 40px;-->
<!--    height: 40px;-->
<!--    background: #f5f5f5;-->
<!--}-->
<!--	</style>-->
	<script th:inline="javascript">
function w3_open() {
	  document.getElementById("main").style.marginLeft = "15%";
	  document.getElementById("mySidebar").style.width = "15%";
	  document.getElementById("mySidebar").style.display = "block";
	  document.getElementById("openNav").style.display = 'none';
	}

	function w3_close() {
	  document.getElementById("main").style.marginLeft = "0%";
	  document.getElementById("mySidebar").style.display = "none";
	  document.getElementById("openNav").style.display = "inline-block";
	}
	
	var logout = function() {
	    $.post("/logout", function() {
	        $("#user").html('');
	        $(".unauthenticated").show();
	        $(".authenticated").hide();
	    })
	    return true;
	}
	
	$.get("/userdata/getBasicInfo", function(data) {
		if(typeof data.name != "undefined"){
			$("#user").html(data.name);
	        $(".unauthenticated").hide();
	        $(".authenticated").show();
	        
	        if(data.userType != 1){
	        	$('a.menu').hide();
	        	
	        	if(window.location.pathname != "/"){
	        		window.location.replace("/");	
	        	}
	        	
	        }
	        
	        if(data.status == 0){
	        	$('#toggle-event').bootstrapToggle('off');
	        }
	        
	        
		}
		else{
			logout();
		}
    });
	
	$( document ).ready(function() {
		$.ajaxSetup({
			  beforeSend : function(xhr, settings) {
			    if (settings.type == 'POST' || settings.type == 'PUT'
			        || settings.type == 'DELETE') {
			      if (!(/^http:.*/.test(settings.url) || /^https:.*/
			        .test(settings.url))) {
			        // Only send the token to relative URLs i.e. locally.
			        xhr.setRequestHeader("X-XSRF-TOKEN",
			          Cookies.get('XSRF-TOKEN'));
			      }
			    }
			  }
			});
		
		    $('#toggle-event').change(function() {
		    	$.post("/userdata/setStatus", {isOn: $(this).prop('checked')}, function(data) {
		    		console.log(data);
		        });
		    }) 
	});
	</script>
</head>
</html>