<div th:fragment="menu">
  <meta charset="UTF-8">
		
  <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" th:href="@{/}">Sangdaero</a>
    <ul class="navbar-nav mr-auto">
      
    </ul>
      <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
</nav>

<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" id="mySidebar" style="width: 15%; display: block">
  <button class="w3-bar-item w3-button w3-large"
  onclick="w3_close()">Close &times;</button>
  <a th:href="@{/request}" class="w3-bar-item w3-button w3-border-bottom">요청 처리</a>
  <a th:href="@{/community}" class="w3-bar-item w3-button w3-border-bottom">커뮤니티 관리</a>
  <a th:href="@{/user}" class="w3-bar-item w3-button w3-border-bottom">회원 관리</a>
  <a th:href="@{/interest}" class="w3-bar-item w3-button w3-border-bottom">관심사 관리</a>
  <a th:href="@{/notice}" class="w3-bar-item w3-button w3-border-bottom">공지</a>
  <a th:href="@{/payment}" class="w3-bar-item w3-button w3-border-bottom">소액 결제</a>
  <a th:href="@{/volunteer}" class="w3-bar-item w3-button w3-border-bottom">봉사 시간</a>
  <a th:href="@{/ranking}" class="w3-bar-item w3-button w3-border-bottom">랭킹 관리</a>
  <a th:href="@{/ask}" class="w3-bar-item w3-button w3-border-bottom">문의</a>
</div>

</div>