<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header">
    <div id="logo">
        <a style="color: inherit;text-decoration: none;" th:href="@{/}">
            <img style="width: 70%;padding-top: 7px;padding-left: 10px" src="/img/mainlogo.png">
        </a>
    </div>
    <div id="button" style="margin-top: 3px">
        <a id="userStatus"></a>
        <a th:href="@{/logout}"><img id="loginout" src="/img/logout.png" alt="on"></a>
    </div>
</header>

<div id="sidebar" th:fragment="menu">
    <ul>
        <li class="firstMenu menu"><span>활동 관리</span> <img src = "/img/arrow.png"></li>
        <ul class = "submenu">
            <li class="secondMenu"><a th:href="@{/activity}">- 활동목록</a><br><a th:href="@{/request}">- 들어온 요청</a></li>
        </ul>
        <li class="firstMenu"><a th:href="@{/user}">회원 관리</a> <img src = "/img/arrow.png"></li>
        <li class="firstMenu"><a th:href="@{/interest}">관심사 관리</a> <img src = "/img/arrow.png"></li>
        <li class="firstMenu"><a th:href="@{/notice}">공지</a> <img src = "/img/arrow.png"></li>

        <!-- 구현해야하는 기능 -->
        <li class="firstMenu not-yet"><a th:href="@{/payment}">소액 결제</a> <img src = "/img/arrow.png"></li>
        <li class="firstMenu not-yet"><a th:href="@{/community}">커뮤니티 관리</a> <img src = "/img/arrow.png"></li>
        <li class="firstMenu not-yet"><a th:href="@{/ranking}">랭킹 관리</a> <img src = "/img/arrow.png"></li>
        <li class="firstMenu not-yet"><a th:href="@{/ask}">문의</a> <img src = "/img/arrow.png"></li>
        </li>
    </ul>
    <script>
        showSubMenu();

        function getStatus(){
            $.get("/userdata/getBasicInfo", function(data){
                var innerHtml = "";
                if(data.status == 1){
                    innerHtml = "<img id='onoff' style='pointer-events: auto' src='/img/on.png' alt='on'>";
                }
                else{
                    innerHtml = "<img id='onoff' style='pointer-events: auto' src='/img/off.png' alt='off'>";
                }
                $('#userStatus').html(innerHtml);
                addClickListener();
            });
        }

        getStatus();


        function addClickListener(){
            $('#onoff').click(function(){
                var isOn = !($('#onoff').attr('alt') == 'on');
                $.post("/userdata/setStatus", {isOn: isOn }, function(data){
                    var innerHtml = "";
                    getStatus();
                });
            });
        }
    </script>
</div>
</html>