<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/head.html"/>
</head>
<body>
<header th:replace="common/menu :: header"></header>

<div lang="en" th:replace="common/menu :: menu"></div>

<div id="main" style="margin-left: 15%">

<div class="w3-teal">
  <button id="openNav" style="display: none" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
  <div class="w3-container">
    <h1>카테고리 페이지</h1>
  </div>
</div>

<div id="wrap">

	<form action="/community/category" method="GET">
		<select name="topCategory">
			<option type="number" value="0" th:selected="0 == ${topCategory}">전체</option>
        	<option type="number" value="1" th:selected="1 == ${topCategory}">공지사항</option>
        	<option type="number" value="2" th:selected="2 == ${topCategory}">커뮤니티</option>
        	<option type="number" value="3" th:selected="3 == ${topCategory}">문의</option>
        </select>
		<button>확인</button>
	</form>

    <form action="/category" method="GET">
        <div class="search">
            <input name="keyword" type="text" placeholder="검색어를 입력해주세요">
        </div>
		<select name="type">
			<option value="1">제목</option>
			<option value="2">내용</option>
			<option value="3">작성자</option>
		</select>
        <button>검색하기</button>
    </form>

    <table style="border:1px solid;">
        <thead>
        <tr>
            <th class="one wide">번호</th>
            <th class="ten wide">Memo</th>
            <th class="two wide">Top</th>
            <th class="three wide">Status</th>
        </tr>
        </thead>

        <tbody>
        <!-- CONTENTS !-->
        <tr th:each="category : ${categoryList}">
            <td>
                <span th:text="${category.id}"></span>
            </td>
            <td>
            	<a th:href="@{'/community/category/detail/' + ${category.id}}">
                    <span th:text="${category.memo}"></span>
                </a>
            </td>
            <td>
                <span th:text="${category.topCategory}"></span>
            </td>
            <td>
                <span th:text="${category.status}"></span>
            </td>
        </tr>
        </tbody>
    </table>

    
    <a th:href="@{/community/category/add}">카테고리 추가</a> <br>
    <a th:href="@{${path}}">목록</a>
</div>

<div lang="en" th:replace="common/footer :: footer"></div>

</div>
</body>
</html>