<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head lang="en" th:replace="common/header :: header"></head>
<body>

<div lang="en" th:replace="common/menu :: menu"></div>

<div id="main" style="margin-left: 15%;">

<div class="w3-teal">
  <button id="openNav" style="display: none" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
  <div class="w3-container">
    <h1>커뮤니티 디테일</h1>
  </div>
</div>

<div id="wrap" style="padding-left:10px;">

	<!-- Community Content -->
	<div>
		<div>
			<div style="float: left; width: 10%;">
				<h2 th:text="'ID '+${communityDto.id}"></h2>
			</div>
			<div style="float: left; width: 55%">
				<h2 th:text="${communityDto.title}"></h2>
			</div>
			<div style="float: right; width: 35%;">
				<h2 th:text="'작성자 - ' + ${communityDto.writer}"></h2>
			</div>
			
		</div>
		<div>
			<div style="float: left; width: 10%;">
				<p th:text="'view '+${communityDto.view}"></p>	
			</div>
			<div style="float: left; width: 25%;">
		    	<p th:text="'category '+${category}"></p>
		    </div>
		    <div style="float: right; width: 35%;">
				<p th:inline="text">[[${#temporals.format(communityDto.modDate, 'yyyy-MM-dd HH:mm')}]]</p>
			</div>
		</div>
		<div>
			<span th:utext="${communityDto.content}"></span>
		</div>
		
	    <!--
	    <h2 th:text="'Top - ' + ${communityDto.topCategory}"></h2> 
	     -->    		
	</div>
	    
	<!-- Comment -->
	<div>
		<table>
	    	<thead>
	    		<tr>
	    			<td>Content</td>
	    			<td>Writer</td>
	    		</tr>
	    	</thead>
	    	<tbody>
		    	<tr th:each="comment : ${commentDtoList}">
		    		<td>
		    			<span th:text="${comment.content}"></span>
					</td>
		    		<td>
		    			<span th:text="${comment.writer}"></span>
					</td>
		    	</tr>
	    	</tbody>
    	</table>
    	
    	<!-- Add comment -->
    	<form action="/community/addComment" method="post">
	    	<input type="hidden" name="boardId" th:value="${communityDto.id}">
	    	<input type="hidden" name="isDeleted" value="1">
	    	댓글 : <input type="text" name="content"><br>
	    	작성자 : <input type="text" name="writer"><br>
	    	<input type="submit" value="댓글 등록"><br>
    	</form>
    	
	</div>
    
    
    <!-- Update / Delete / List Button -->
    <div>
    	<div style="float: right">
			<a th:href="@{'/community/?category=' + ${communityDto.categoryId}}">
	            <button>목록</button>
	        </a>
		</div>
    	<div style="float: right">
	        <form id="delete-form" th:action="@{'/community/post/' + ${communityDto.id}}" method="post">
	            <input type="hidden" name="_method" value="delete"/>
	            <button id="delete-btn">삭제</button>
	        </form>
        </div>
    	<div style="float: right">
    		<a th:href="@{'/community/post/edit/' + ${communityDto.id}}">
            	<button>수정</button>
        	</a>
    	</div>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var communityDto = /*[[${communityDto}]]*/ "";
        /*]]>*/
    </script>
    <script th:inline="javascript" th:src="@{/js/community.js}"></script>
    
    
</div>

<div lang="en" th:replace="common/footer :: footer"></div>

</div>
</body>
</html>