<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<head lang="en" th:replace="common/header :: header"></head>
<body>

	<div lang="en" th:replace="common/menu :: menu"></div>

	<div id="main" style="margin-left: 15%">

		<div class="w3-teal">
			<button id="openNav" style="display: none"
				class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
			<div class="w3-container">
				<h1>모금활동 세부내역 작성 폼</h1>
			</div>
		</div>

		<div class="w3-container">
			[유저는 db에 이미 있다고 가정함, id = 1]

			<form action="/fundraisingWrite" method="post">
				
				제목 : <input type="text" name="title" value="제목"> <br> 
				금액 : <input type="text" name="personalPayAmount" value=10000> <br>
				입금자명 : <input type="text" name="donator" value="입금자"> <br>
				사업자등록증 발행여부 : 
				<input type="radio" name="billType" value=1>발행 
				<input type="radio" name="billType" value=0 checked="checked">미발행 <br>
				입금여부 :  
				<input type="radio" name="paymentStatus" value=1>입금완료 
				<input type="radio" name="paymentStatus" value=0 checked="checked">미입금 <br>
				연락가능번호 :
				<input type="text" name="donatorPhone" value="010-1111-2222"> <br> 
				
				메모 : <br> <textarea name="memo"></textarea> <br>
				
				<br> <input type="submit" value="모금 생성">
			</form>


		</div>

		<div lang="en" th:replace="common/footer :: footer"></div>

	</div>
</body>
</html>

