<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head lang="en" th:replace="common/header :: header"></head>
<body>

	<div lang="en" th:replace="common/menu :: menu"></div>

	<div id="main" style="margin-left: 15%">

		<div class="w3-teal">
			<button id="openNav" style="display: none"
				class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
			<div class="w3-container">
				<h1>소액 결제 내역 수정 폼</h1>
			</div>
		</div>


		<div class="w3-container">

			<form th:action="@{'/payment/paymentUpdate/' + ${paymentDto.id}}"
				method="post">

				<!-- mapped to 'put' method in controller. -->
				<input type="hidden" name="_method" value="put" />

				<!-- JPA uses same method for insert & update. Without id value, it inserts, and with id value, it updates. -->
				<input type="hidden" name="id" th:value="${paymentDto.id}" /> 
				
				제목 : 
				<input type="text" name="title" th:value="${paymentDto.title}"> <br> 
				
				책임자 : <input type="text" name="manager" th:value=${paymentDto.manager}> <br> 
				
				입금자명 : 
				<input type="text" name="donator" th:value="${paymentDto.donator}"> <br> 
					
				입금자 전화번호 : 
				<input type="text" name="donatorPhone" th:value="${paymentDto.donatorPhone}"> <br> 
				
				금액 :
				<input type="text" name="donationPrice" th:value=${paymentDto.donationPrice}> <br>

				입금상태 : 
				<input type="radio" name="paymentCheck" value=1>입금완료
				<input type="radio" name="paymentCheck" value=0 checked="checked">미입금<br> 

				지정후원/비지정후원 : 
				<input type="radio" name="selectSupport" value=1>지정후원
				<input type="radio" name="selectSupport" value=0 checked="checked">비지정후원<br> 
				
				사업자영수증 : <input type="radio" name="billType" value=1>발행
				<input type="radio" name="billType" value=0 checked="checked">미발행 <br> 
				
				메모 : <br>
				<textarea name="content"></textarea>
				
				
				<input type="submit" value="수정">
			</form>


		</div>


		<div lang="en" th:replace="common/footer :: footer"></div>

	</div>
</body>
</html>