<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="common/head.html"/>
</head>
<body>
<header th:replace="common/menu :: header"></header>

<div lang="en" th:replace="common/menu :: menu"></div>

<div id="main" style="margin-left: 15%;">

<div class="w3-teal">
  <button id="openNav" style="display: none" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
  <div class="w3-container">
    <h1>공지 디테일</h1>
  </div>
</div>

<div id="wrap" style="padding-left:10px;">

	<!-- Notice Content -->
	<div>
		<div>
			<div style="float: left; width: 10%;">
				<h2 th:text="'ID '+${noticeDto.id}"></h2>
			</div>
			<div style="float: left; width: 55%">
				<h2 th:text="${noticeDto.title}"></h2>
			</div>
			<div style="float: right; width: 35%;">
				<h2 th:text="'작성자 - ' + ${noticeDto.writer}"></h2>
			</div>
			
		</div>
		<div>
			<div style="float: left; width: 10%;">
				<p th:text="'view '+${noticeDto.view}"></p>	
			</div>
			<div style="float: left; width: 25%;">
		    	<p th:text="'category '+${category}"></p>
		    </div>
		    <div style="float: right; width: 35%;">
				<p th:inline="text">[[${#temporals.format(noticeDto.modDate, 'yyyy-MM-dd HH:mm')}]]</p>
			</div>
		</div>
		<div>
			<span th:utext="${noticeDto.content}"></span>
		</div>
		<!--
			<h2 th:text="'Top - ' + ${noticeDto.topCategory}"></h2> 
		 -->
    </div>

	<!-- Update / Delete / List Button -->
    <div>
    	<div style="float: right">
			<a th:href="@{'/notice/?category=' + ${noticeDto.categoryId}}">
	            <button>목록</button>
	        </a>
		</div>
    	<div style="float: right">
	        <form id="delete-form" th:action="@{'/notice/post/' + ${noticeDto.id}}" method="post">
	            <input type="hidden" name="_method" value="delete"/>
	            <button id="delete-btn">삭제</button>
	        </form>
        </div>
    	<div style="float: right">
    		<a th:href="@{'/notice/post/edit/' + ${noticeDto.id}}">
            	<button>수정</button>
        	</a>
    	</div>

    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var noticeDto = /*[[${noticeDto}]]*/ "";
        /*]]>*/
    </script>
    <script th:inline="javascript" th:src="@{/js/notice.js}"></script>
    
    
</div>

<div lang="en" th:replace="common/footer :: footer"></div>

</div>
</body>
</html>