<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="common/head.html"/>
</head>
<body>
<header th:replace="common/menu :: header"></header>

<div lang="en" th:replace="common/menu :: menu"></div>
<!-- Summernote Editor -->
	<script >
		$(document).ready(function() {
			$('#summernote').summernote({
				height: 300,
				minHeight: null,
				maxHeight: null,
				focus: true,
				lang: "ko-KR",
				placeholder: '최대 2048자',
				callbacks: {
					onImageUpload: function(files) {
						uploadSummernoteImageFile(files[0], this);
					}
				}
			});
			
			function uploadSummernoteImageFile(file, editor) {
				data = new FormData();
				data.append("file", file);
				$.ajax({
					data : data,
					type : "POST",
					url : "/summernoteFileUpload/uploadSummernoteImageFile",
					contentType : false,
					processData : false,
					success : function(data) {
						console.log(data);
						$(editor).summernote('insertImage', location.origin+data.url);
					},
					error : function(data) {
						console.log(data);
					}
				})
			}
		});
	</script>

<div id="main" style="margin-left: 15%">

<div class="w3-teal">
  <button id="openNav" style="display: none" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
  <div class="w3-container">
    <h1>공지 수정</h1>
  </div>
</div>

	<div>
	    <form th:action="@{'/notice/post/edit/' + ${noticeDto.id}}" method="post">
	    	<div>
	        	<input type="hidden" name="_method" value="put"/>
		        <input type="hidden" name="id" th:value="${noticeDto.id}"/>
	        	<input type="hidden" name="view" th:value="${noticeDto.view}"/>
	        	<input type="hidden" value="1" name="topCategory">
	        </div>
	
			<div>
				제목 : <input type="text" name="title" th:value="${noticeDto.title}">
			</div> <br>
		    <div>
		    	작성자 : <input type="text" name="writer" th:value="${noticeDto.writer}">
		    </div> <br>
		    <div>
			    Sub: 
		        <select name="categoryId">
		        	<option th:each="category : ${categoryDto}"
		        			th:text="${category.memo}"
		        			th:value="${category.id}"
		        			th:selected="${category.id} == ${noticeDto.categoryId}"/> 
		        </select>
	        </div> <br>
			<div>
	        	Status:
	        	<select name="status">
	        		<option value="1" th:selected="1 == ${noticeDto.status}">활성화</option>
	        		<option value="0" th:selected="0 == ${noticeDto.status}">비활성화</option>
	        	</select>
	        </div> <br>
	        
	        <div class="editor_wrap">
			   <textarea name="content" id="summernote" th:text="${noticeDto.content}"></textarea>
			</div><br>
	
			<div>
				<div style="float:right">
					<button th:href="@{/notice}">목록</button>
				</div>
				<div style="float:right">
					<input type="submit" value="수정">
				</div>
			</div>
	    </form>
    </div>
    <div lang="en" th:replace="common/footer :: footer"></div>

</div>
	<!-- CKEditor -->
	<script type="text/javascript">
		ClassicEditor
		    .create( document.querySelector( '#content' ) )
		    .catch( error => {
		        console.error( error );
		    } );
	</script>
  
    <form th:action="@{'/notice/post/edit/' + ${noticeDto.id}}" method="post">
        <input type="hidden" name="_method" value="put"/>
        <input type="hidden" name="id" th:value="${noticeDto.id}"/>
        <input type="hidden" name="view" th:value="${noticeDto.view}"/>

	       제목 : <input type="text" name="title" th:value="${noticeDto.title}"> <br>
	       작성자 : <input type="text" name="writer" th:value="${noticeDto.writer}"> <br>
	    <input type="hidden" value="1" name="topCategory">
	    Sub: 
        <select name="categoryId">
        	<option type="number" value="1">전체</option>
        	<option type="number" value="2">자원봉사자</option>
        	<option type="number" value="3">이용자</option>
        </select><br> 
        
    
        <textarea name="content" th:text="${noticeDto.content}"></textarea><br>

        <input type="submit" value="수정">
        <a th:href="@{/notice}">목록</a>
    </form>
    <div lang="en" th:replace="common/footer :: footer"></div>

</div>

</body>
</html>