<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="common/head.html"/>
</head>
<body>
<header th:replace="common/menu :: header"></header>

<div lang="en" th:replace="common/menu :: menu"></div>
	<!-- Summernote Editor -->
	<script >
		$(document).ready(function() {
			$('#summernote').summernote({
				height: 300,
				minHeight: null,
				maxHeight: null,
				focus: true,
				lang: "ko-KR",
				placeholder: '최대 2048자',
				callbacks: {
					onImageUpload: function(files) {
						uploadSummernoteImageFile(files[0], this);
					}
				}
			});
			
			function uploadSummernoteImageFile(file, editor) {
				data = new FormData();
				data.append("file", file);
				$.ajax({
					data : data,
					type : "POST",
					url : "/summernoteFileUpload/uploadSummernoteImageFile",
					contentType : false,
					processData : false,
					success : function(data) {
						console.log(data);
						$(editor).summernote('insertImage', location.origin+data.url);
					},
					error : function(data) {
						console.log(data);
					}
				})
			}
		});
	</script>

<div id="main" style="margin-left: 15%">

<div class="w3-teal">
  <button id="openNav" style="display: none" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
  <div class="w3-container">
    <h1>공지 쓰기</h1>
  </div>
</div>
	<div>
		<form action="/notice/post" method="post">
			<div>
				제목 : <input type="text" name="title" maxlength="10">
			</div> <br>
	    	<div>
	    		작성자 : <input type="text" name="writer">
	    	</div> <br>
	    	<div>
		    	<input type="hidden" value="0" name="view">
		    	<input type="hidden" value="1" name="topCategory">
	    	</div>
	    	<div>
	        	Sub: 
		        <select name="categoryId">
		        	<option th:each="categoryOption : ${categoryDto}"
		        			th:text="${categoryOption.memo}"
		        			th:value="${categoryOption.id}"/>
		        </select>
	        </div> <br>
	        
	        <div class="editor_wrap">
				<textarea name="content" id="summernote"></textarea>
			</div><br>
	
			<div>
				<div style="float:right">
					<button th:href="@{/notice}">목록</button>
				</div>
				<div style="float:right">
					<input type="submit" value="등록">
				</div>
			</div>
	    </form>
	</div>

    <form action="/notice/post" method="post">
    	제목 : <input type="text" name="title" maxlength="10"> <br>
    	작성자 : <input type="text" name="writer"> <br>
    	<input type="hidden" value="0" name="view">
    	<input type="hidden" value="1" name="topCategory">
        Sub: 
        <select name="categoryId">
        	<option type="number" value="1">전체</option>
        	<option type="number" value="2">자원봉사자</option>
        	<option type="number" value="3">이용자</option>
        </select><br>
        
        <textarea name="content"></textarea><br>

        <input type="submit" value="등록">
        <a th:href="@{/notice}">목록</a>
    </form>
    
    <div lang="en" th:replace="common/footer :: footer"></div>

</div>

</body>
</html>