<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="/css/insertAct.css">
	<th:block th:replace="common/head.html"/>
	<link rel="stylesheet" href="/css/boardType.css">
	<style>
		#editor {
			color: #494949;
		}
		#editor > div > div > div.ck-content {
			height: 300px;
		}

	</style>
</head>
<body>
<header th:replace="common/menu :: header"></header>

<div lang="en" th:replace="common/menu :: menu"></div>

	<div id="main">
		<h4>공지 쓰기</h4>

		<form action="/notice/post" method="post" style="width: 100%">
			<input type="hidden" value="0" name="view">
			<div id="actInfo" style="height: 580px;">
				<br>
				<div class="section1">
					<div class="key">
						제목
					</div>
					<div class="content">
						<input type="text" name="title" maxlength="10">
					</div>
				</div>
				<br>
				<div class="section1">
					<div class="key">
						작성자
					</div>
					<div class="content">
						<input type="text" name="writer">
					</div>
				</div>
				<br>
				<div class="section1">
					<div class="key">
						카테고리
					</div>
					<div class="content">
						<span th:text="공지사항" style="color: #494949;"></span>
						<input type="hidden" value="1" name="topCategory">
					</div>
				</div>
				<br>
				<div class="section1" style="margin-bottom: 30px">
					<div class="key">
						하위 카테고리
					</div>
					<div class="content">
						<select name="categoryId">
							<option th:each="categoryOption : ${categoryDto}"
									th:text="${categoryOption.memo}"
									th:value="${categoryOption.id}"/>
						</select>
					</div>
				</div>
				<br>
				<div id="editor" class="section1" style="margin-right:60px">
					<div class="key" style="height: 300px">내용</div>
					<textarea name="content" id="content"></textarea>
				</div>
			</div>
			<div id="buttonSet">
				<button id="reset" type="button" name="button" onclick="goBack()"><img src="/img/cancle_big.png"/></button>
				<button id="submit" type="submit" name="button"><img src="/img/com_big.png"/></button>
			</div>
		</form>
	</div>
    
    <div lang="en" th:replace="common/footer :: footer"></div>
	<script>
		function goBack() {
			window.history.back();
		}
		ClassicEditor
				.create( document.querySelector( '#content' ) )
				.catch( error => {
					console.error( error );
				} );
	</script>
</body>
</html>