<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head lang="en" th:replace="common/header :: header"></head>
<body>

	<div lang="en" th:replace="common/menu :: menu"></div>

	<div id="main" style="margin-left: 15%">

		<div class="container">
			<button id="openNav" style="display: none"
					class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
			<div class="w3-container">
				<h2>활동 목록</h2>
			</div>

			<form  action="/activity" method="GET">
				<div class="row">
					<div class="col-md-7">
						카테고리:
						<select onchange="this.form.submit()" name="interestType">
							<option value="0">관심사를 선택하세요</option>
							<option th:selected="${interestType==interest.id}"
									th:each="interest : ${interests}" th:value="${interest.id}"
									th:text="${interest.name}"></option>
						</select>
						상태:
						<select onchange="this.form.submit()" name="status">
							<option value="0">상태를 선택하세요</option>
							<option th:selected="${status==1}" value="1">매칭 전</option>
							<option th:selected="${status==2}" value="2">진행중</option>
							<option th:selected="${status==3}" value="3">매칭 완료</option>
							<option th:selected="${status==4}" value="4">모집 마감</option>
						</select>
						<select onchange="this.form.submit()" name="sort">
							<option th:selected="${sort==1}" value="1">최신순</option>
							<option th:selected="${sort==2}" value="2">오래된순</option>
						</select>
					</div>

					<div class="search col-md-5">
						<input name="keyword" type="text" placeholder="제목으로 검색"
							   th:value="${keyword}">
						<button>검색하기</button>
					</div>
				</div>
			</form>

			<!-- payment list  -->
			<form action="/activity" method="GET">
				<!-- update checked record's 'paymentCheck' status. -->

				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">제목</th>
							<th scope="col">카테고리</th>
							<th scope="col">상태</th>
							<th scope="col">등록 날짜</th>
						</tr>
					</thead>

					<tbody>

						<!-- CONTENTS !-->
						<tr th:each="activity : ${activityList}">
							<th scope="row">
								<span th:text="${totalNum}-3*(${currentPage}-1)-${activityStat.count}+1"></span>
							</th>
<!--							<td><span th:text="${activity.id}"></span></td>-->
							<td><a th:href="@{'/activity/' + ${activity.id}}"> <span
									th:text="${activity.title}"></span>
							</a></td>
							<td><span th:if="${activity.interestCategory}"
								th:text="${activity.interestCategory.name}"></span> <span
								th:if="${activity.interestCategory==null}">-----</span></td>
							<td><span th:if="${activity.status == 0}">매칭 전</span> <span
								th:if="${activity.status == 1}">진행중</span><span
								th:if="${activity.status == 2}">매칭 완료</span><span
								th:if="${activity.status == 3}">모집 마감</span></td>
							<td><span
								th:text="${#temporals.format(activity.regDate, 'yyyy-MM-dd HH:mm')}"></span>
							</td>
						</tr>
					</tbody>
				</table>
			</form>

			<!-- paging -->
			<div>
				<span th:each="pageNum : ${pageList}" th:inline="text"> <a
					th:href="@{'/activity?page=' + ${pageNum} + '&keyword=' + ${keyword} + '&interestType=' + ${interestType} + '&status=' + ${status}}">[[${pageNum}]]</a>
				</span>
			</div>
			<!-- paging end -->

			<a th:href="@{/activity/activityForm}">활동 등록</a>

		</div>

		<div lang="en" th:replace="common/footer :: footer"></div>

	</div>
</body>
</html>