<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="/css/listAct.css">
	<th:block th:replace="common/head.html"/>

<!--	<link rel="stylesheet" href="/css/test2.css">-->
	<style>
		.fancybox-content {
			width: 400px;
		}
		.fancybox-content > img {
			width: 300px;
		}
	</style>
</head>
<body>
	<header th:replace="common/menu :: header"></header>

	<div lang="en" th:replace="common/menu :: menu"></div>

	<div id="main">

		<form id="infoForm" name="manage" action="/activity" method="GET">
			<div class="upper">
				<h4 class="header">활동 목록</h4>
				<div class="menus">
					<div class="selectmenu">
						<div class="selectm">
							<select class="back" onchange="this.form.submit()" name="interestType">
								<option value="0">관심사 선택</option>
								<option th:selected="${interestType==interest.id}"
										th:each="interest : ${interests}" th:value="${interest.id}"
										th:text="${interest.name}"></option>
							</select>
						</div>
						<div class="selectm">
							<select class="back" onchange="this.form.submit()" name="status">
								<option value="0">상태 선택</option>
								<option th:selected="${status==1}" value="1">매칭 전</option>
								<option th:selected="${status==2}" value="2">매칭중</option>
								<option th:selected="${status==3}" value="3">매칭 완료</option>
								<option th:selected="${status==4}" value="4">활동 진행 중</option>
								<option th:selected="${status==5}" value="5">활동 완료</option>
								<option th:selected="${status==6}" value="6">취소된 활동</option>
							</select>
						</div>
						<div class="selectm">
							<select class="back" onchange="this.form.submit()" name="sort">
								<option th:selected="${sort==1}" value="1">최신순</option>
								<option th:selected="${sort==2}" value="2">오래된순</option>
							</select>
						</div>
					</div>
					<div class="searchlist searchboxlist">
						<input id="search" name="keyword" type="search" placeholder="제목으로 검색" th:value="${keyword}">
<!--						<button>검색하기</button>-->
					</div>
				</div>

			</div>

			<div id="actList">
				<table style="width: 100%;" cellpadding="0" cellspacing="0">
					<thead>
						<tr class="top">
							<th id="leftth" style="border-radius: 15px 0 0 0;">No.</th>
							<th>카테고리</th>
							<th>제목</th>
							<th>상태</th>
							<th id="rigthth" style="border-radius: 0 15px 0 0;">등록 날짜</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="activity : ${activityList}">
							<td id="no">
								<span th:text="${totalNum}-8*(${currentPage}-1)-${activityStat.count}+1"></span>
							</td>
							<td>
								<span th:if="${activity.interestCategory}" th:text="${activity.interestCategory.name}"></span>
								<span th:if="${activity.interestCategory==null}">-----</span>
							</td>
							<td>
								<a class="detail-link" th:href="@{'/activity/' + ${activity.id}}">
									<span th:text="${activity.title}"></span>
								</a>
							</td>
							<td class="status">
								<img th:if="${activity.status == 0}" class="condition" src="/img/b_matching.png">
								<span th:if="${activity.status == 1}"><img class="condition" src="/img/matching.png"></span>
								<span th:if="${activity.status == 2}"><img class="condition" src="/img/a_matching.png"></span>
								<span th:if="${activity.status == 3}"><img class="condition" src="/img/activiting.png"></span>
								<span th:if="${activity.status == 4}"><img class="condition" src="/img/a_activiting.png"></span>
								<span th:if="${activity.status == 5}"><img class="condition" src="/img/activity_cancle.png"></span>
							</td>
							<td id="actdate">
								<span th:text="${#temporals.format(activity.regDate, 'yyyy-MM-dd HH:mm')}"></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="down">
				<div id="Paging">
					<button id="prev" th:if="${currentPage > 1}" type="button" name="button">
						<a style="text-decoration: none;" th:href="@{'/activity?page=' + ${currentPage-1} + '&keyword=' + ${keyword} + '&interestType=' + ${interestType} + '&status=' + ${status}}"><</a>
					</button>
					<button id="one" th:class="${(currentPage == firstPage)?'one':''}" th:if="${totalNum > 0}" type="button" name="button">
						<a style="text-decoration: none;" th:href="@{'/activity?page=' + ${firstPage} + '&keyword=' + ${keyword} + '&interestType=' + ${interestType} + '&status=' + ${status}}">[[${firstPage}]]</a>
					</button>
					<button id="two" th:class="${(currentPage == firstPage+1)?'one':''}" th:if="${totalNum > 8*firstPage}" type="button" name="button">
						<a style="text-decoration: none;" th:href="@{'/activity?page=' + ${firstPage+1} + '&keyword=' + ${keyword} + '&interestType=' + ${interestType} + '&status=' + ${status}}">[[${firstPage+1}]]</a>
					</button>
					<button id="three" th:class="${(currentPage == firstPage+2)?'one':''}" th:if="${totalNum > 8*(firstPage+1)}" type="button" name="button">
						<a style="text-decoration: none;" th:href="@{'/activity?page=' + ${firstPage+2} + '&keyword=' + ${keyword} + '&interestType=' + ${interestType} + '&status=' + ${status}}">[[${firstPage+2}]]</a>
					</button>
					<button id="next" th:if="${totalNum > 8*currentPage}" type="button" name="button">
						<a style="text-decoration: none;" th:href="@{'/activity?page=' + ${currentPage+1} + '&keyword=' + ${keyword} + '&interestType=' + ${interestType} + '&status=' + ${status}}">></a>
					</button>
				</div>
				<button id="list" type="button" name="button">
					<a th:href="@{/activity/activityForm}"><img id="addBtn" src="/img/18.png"></a>
				</button>
			</div>
		</form>
	</div>
	<div lang="en" th:replace="common/footer :: footer"></div>
</body>
</html>