<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" dir="ltr">
<head>
	<th:block th:replace="common/head.html"/>
	<link rel="stylesheet" href="/css/insertAct.css">
	<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
	<header th:replace="common/menu :: header"></header>

	<div lang="en" th:replace="common/menu :: menu"></div>

	<div id="main">
		<h4>활동 등록</h4>

		<form id="infoForm" name="activity" action="/activity/activityForm" method="post" enctype="multipart/form-data">
			<input type="hidden" name="requestId" th:value="${requestDto?.id}"/>

			<div id="actInfo">
				<div class="infoContent">
					<div class="subtitle">기본 정보</div>
					<div class="sectionLeft">
						<div class="subcontent">카테고리
							<div class="subsub">
								<select id="category" name="interestCategoryId">
									<option value="0">관심사를 선택하세요</option>
									<option th:each="interest : ${interests}" th:value="${interest.id}"
											th:text="${interest.name}" th:selected="${interest.id} == ${requestDto?.interestCategory?.id}"></option>
								</select>
							</div>
						</div>
						<div class="subcontent">마감 기한
							<div class="subsub">
								<input id="date" type="date" name="deadlineDate"> <input id="time" type="time" name="deadlineTime">
							</div>
						</div>
					</div>
					<div class="sectionRight">
						<div class="subcontent">제목
							<div class="subsub2">
								<input id="titletext" type="text" name="title" th:value="${requestDto?.title}" placeholder="제목을 입력하세요.">
							</div>
						</div>
<!--						<div class="subcontent">상태-->
<!--							<div class="subsub2">-->
<!--								<select id="state" name="state">-->
<!--									<option value="whole">전체</option>-->
<!--									<option value="what">무엇을</option>-->
<!--									<option value="choose">고를까요?</option>-->
<!--									<option value="haha">ㅎㅎ</option>-->
<!--								</select>-->
<!--							</div>-->
<!--						</div>-->
					</div>
				</div>

				<hr class="divgap">

				<div class="infoContent">
					<div class="subtitle">담당 인원</div>
					<div class="sectionLeft">
						<div class="subcontent">이용자
							<div class="subsub">
<!--								<input id="searchUsers" type="text" placeholder="유저 이름으로 검색">-->
<!--								<ul id="users" style="list-style-type: none;">-->

<!--								</ul>-->
<!--								<div id="pagingUsers">-->

<!--								</div>-->
								<select id="user" name="state">
									<option value="whole">전체</option>
									<option value="what">무엇을</option>
									<option value="choose">고를까요?</option>
									<option value="haha">ㅎㅎ</option>
								</select>
							</div>
						</div>
						<div class="subcontent">담당 관제사
							<div class="subsub">
								<select name="managerId">
									<option value="0">관리자를 선택하세요</option>
									<option th:each="manager : ${managers}" th:value="${manager.id}"
											th:text="${manager.name}"></option>
								</select>
<!--								<div class="row">-->
<!--									<ul id="clickedUsers" class="list-group mt-2 col-md-6">-->
<!--									</ul>-->
<!--									<ul id="clickedVolunteers" class="list-group mt-2 col-md-6">-->
<!--									</ul>-->
<!--								</div>-->
							</div>
						</div>
					</div>
					<div class="sectionRight">
						<div class="subcontent">봉사자
							<div class="subsub2">
<!--								<input id="searchVolunteers" type="text" placeholder="유저 이름으로 검색">-->
<!--								<ul id="volunteers" style="list-style-type: none;">-->

<!--								</ul>-->
<!--								<div id="pagingVolunteers">-->

<!--								</div>-->
								<select id="volunteer" name="state">
									<option value="whole">전체</option>
									<option value="what">무엇을</option>
									<option value="choose">고를까요?</option>
									<option value="haha">ㅎㅎ</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<hr class="divgap">

				<div class="infoContent2">
					<div class="subtitle">활동 내용</div>
					<div class="sectionLeft2">
						<div class="subcontent">활동 시간
							<div class="subsub2 sub1">
								<input id="start_date" type="date" name="startDate"><input id="start_time" type="time" name="startTime"><span id="and"> ~ </span>
								<input id="end_date" type="date" name="endDate"><input id="end_time" type="time" name="endTime">
							</div>
						</div>
					</div>
					<div class="sectionRight2">
						<div class="subcontent">장소
							<div class="subsub2 sub">
								<input type="text" id="place" name="place" placeholder="주소를 입력하세요." onclick="execPostcode()">
							</div>
						</div>
					</div>
				</div>

				<hr class="divgap2">

				<div class="infoContent2">
					상세 설명
					<div id="description">
<!--						<div id="fileName">파일 첨부-->
<!--							<input type="file" name="file" id="file" style="display:none"/>-->
<!--							<div class="button" id = "img" onclick="onclick=document.all.file.click()"><i class="far fa-image"></i>사진</div>-->
<!--							<div class="button" id="video" onclick="onclick=document.all.file.click()"><i class="far fa-play-circle"></i> 동영상</div>-->
<!--						</div>-->
<!--						<div>-->
							<textarea name="content"></textarea>
<!--						</div>-->
					</div>
				</div>

				<hr class="divgap">

				<div class="infoContent deliveryGroup" style="display: none;">
					<div class="subtitle">나눔 내용</div>
					<div class="sectionLeft">
						<div class="subcontent">수령 방법</div>
							<input type="radio" id="direct" name="delivery" value="0" checked>
							<label for="direct">직접 수령</label>
							<input type="radio" id="through" name="delivery" value="1">
							<label for="through">봉사사 통해 전달</label>
					</div>
					<div class="sectionRight">
						<div class="subcontent">물건 사진</div>
							<input th:if="${productImage == null}" type="file" name="files" multiple>
							<img th:if="${productImage}" alt="image" th:src="@{${'/images/' + productImage}}" width="250" height="250">
							<input th:if="${productImage}" type="text" style="display:none;" name="file" th:value="${productImage}" >
					</div>
				</div>

			</div>
			<div id="buttonSet">
				<button id="reset" type="button" name="button" onclick="goBack()"><img src="/img/cancel.png"/></button>
				<button id="submit" type="submit" name="button"><img src="/img/register.png"/></button>
			</div>

<!--			<div class="row deliveryGroup" style="display: none;">-->
<!--				<h4>나눔 내용</h4>-->
<!--			</div>-->
<!--			<div class="row deliveryGroup" style="display: none;">-->
<!--				<div class="col-md-6">-->
<!--					<input type="radio" id="direct" name="delivery" value="0" checked>-->
<!--					<label for="direct">직접 수령</label>-->
<!--					<input type="radio" id="through" name="delivery" value="1">-->
<!--					<label for="through">봉사사 통해 전달</label>-->
<!--				</div>-->
<!--				<div class="col-md-6">-->
<!--					<input th:if="${productImage == null}" type="file" name="files" multiple>-->
<!--					<img th:if="${productImage}" alt="image" th:src="@{${'/images/' + productImage}}" width="250" height="250">-->
<!--					<input th:if="${productImage}" type="text" style="display:none;" name="file" th:value="${productImage}" >-->
<!--				</div>-->
<!--			</div>-->

		</form>
	</div>

	<script th:inline="javascript">

		const usersPerPage = 4;
		var numOfPages = 0;
		var numOfPagesVolunteers = 0;
		var users = [];
		var volunteers = [];
		var clickedUsers = [];
		var clickedVolunteers = [];
		var userStatusList = [];
		var permittedVolunteer =/*[[${permittedVolunteer}]]*/'none';
		var productImage =/*[[${productImage}]]*/'none';

		function goBack() {
			window.history.back();
		}

		function execPostcode() {
			new daum.Postcode({
				oncomplete: function(data) {
					var addr = data.address; // 최종 주소 변수

					// 주소 정보를 해당 필드에 넣는다.
					document.getElementById("place").value = addr;
				}
			}).open();
		}

		function fancyClickUsers(){
			try{
				var innerHtml = (clickedUsers.length>0)?"이용자:":"";
				if(userStatusList.length > 0){
					userStatusList.forEach(function(user){
						if(clickedUsers.indexOf(user.id.toString()) > -1){
							innerHtml += " <li class='list-group-item list-group-item-success'>"+ user.name + "<br>" + user.phone +"</li>";
						}
					});
				}

			}
			finally{
				$('#clickedUsers').html(innerHtml);
			}
		}

		function fancyClickVolunteers(){
			try{
				var innerHtml = (clickedVolunteers.length>0)?"봉사자:":"";
				var color="";
				if(userStatusList.length > 0){
					userStatusList.forEach(function(user){
						if(clickedVolunteers.indexOf(user.id.toString()) > -1){
							if($('#volunteer'+ user.id).val() == 0){
								color = "warning";
							}
							else if($('#volunteer'+ user.id).val() == 1){
								color = "success";
							}
							else{
								color = "danger";
							}
							innerHtml += " <li class='list-group-item list-group-item-" + color + "'>"+ user.name + "<br>" + user.phone +"</li>";
						}
					});
				}

			}
			finally{
				$('#clickedVolunteers').html(innerHtml);
			}
		}


		function addEventListenersToUsers(){
			$('input[name="userId"]').each(function(){

				/*if($(this).prop('checked')){
                    $('#editVolunteers li input[value="'+ $(this).val() +'"]').prop('disabled', true);
                }*/

				if(clickedUsers.indexOf($(this).val()) > -1){
					$(this).prop('checked', true);
					//$('#user'+ $(this).val()).toggle();
					//$(this).next().next().attr("name","userStatus");
				}

				$(this).click(function(){
					$('#volunteers li input[value="'+ $(this).val() +'"]').prop('disabled', function(i, v) { return !v; });
					//$('#user'+ $(this).val()).toggle();

					if($(this).prop('checked')){
						if(clickedUsers.indexOf($(this).val()) == -1){
							clickedUsers.push($(this).val());
						}
						//$(this).next().next().attr("name","userStatus");
					}
					else{
						if(clickedUsers.indexOf($(this).val()) > -1){
							clickedUsers.splice(clickedUsers.indexOf($(this).val()), 1);
						}
						//$(this).next().next().removeAttr("name");
					}

					fancyClickUsers();


				})

			})

			/*$('input[name="userId"]+label+select').each(function(){
                $(this).change(function(){

                    for(var i = 0; i < users.length ; i++){
                        if(users[i].id == $(this).attr('id').replace("user","")){
                            users[i].status = $(this).val();
                            break;
                        }
                    }

                });
            });*/
		}

		function addEventListenersToVolunteers(){

			$('input[name="volunteerId"]').each(function(){

				/*if($(this).prop('checked')){
                    $('#editUsers li input[value="'+ $(this).val() +'"]').prop('disabled', true);
                }*/

				if(clickedVolunteers.indexOf($(this).val()) > -1){
					$(this).prop('checked', true);
					$('#volunteer'+ $(this).val()).toggle();
					$(this).next().next().attr("name","volunteerStatus");
				}

				$(this).click(function(){
					$('#users li input[value="'+ $(this).val() +'"]').prop('disabled', function(i, v) { return !v; });
					$('#volunteer'+ $(this).val()).toggle();

					if($(this).prop('checked')){
						if(clickedVolunteers.indexOf($(this).val()) == -1){
							clickedVolunteers.push($(this).val());
						}
						$(this).next().next().attr("name","volunteerStatus");
					}
					else{
						if(clickedVolunteers.indexOf($(this).val()) > -1){
							clickedVolunteers.splice(clickedVolunteers.indexOf($(this).val()), 1);
						}
						$(this).next().next().removeAttr("name");
					}

					fancyClickVolunteers();

				})

			})

			$('input[name="volunteerId"]+label+select').each(function(){
				$(this).change(function(){

					for(var i = 0; i < volunteers.length ; i++){
						if(volunteers[i].id == $(this).attr('id').replace("volunteer","")){
							volunteers[i].status = $(this).val();
							break;
						}
					}
					fancyClickVolunteers();
				});
			});

		}

		function addEventListenersToUserPagingButtons(){
			$('#pagingUsers button.page').each(function(){

				$(this).click(function(){
					var pageNumber = $(this).text();
					var innerHtml = "";
					try{

						for(var i = 0; i < users.length ; i++ ){

							if(i >= ((pageNumber-1)*usersPerPage) && i < (pageNumber*usersPerPage)){
								innerHtml += "<li><input type='checkbox' id='"+ users[i].id + "' value='"+ users[i].id +"' name='userId'";
							}
							else{
								innerHtml += "<li style='display: none;'><input type='checkbox' id='"+ users[i].id + "' value='"+ users[i].id +"' name='userId'";
							}

							if(clickedVolunteers.indexOf(users[i].id.toString()) > -1){
								innerHtml += " disabled> <label for='"+ users[i].id +"'>"+ users[i].name +"</label></li>";
							}
							else{
								innerHtml += "> <label for='"+ users[i].id +"'>"+ users[i].name +"</label></li>";
							}

							/*if(users[i].status==null || users[i].status == 0){
                                innerHtml += "<select style='display: none;' id='user"+ users[i].id +"'><option value='0' selected>대기</option><option value='1'>승인</option><option value='2'>거절</option></select></li>";
                            }
                            else if(users[i].status == 1){
                                innerHtml += "<select style='display: none;' id='user"+ users[i].id +"'><option value='0'>대기</option><option value='1' selected>승인</option><option value='2'>거절</option></select></li>";
                            }
                            else{
                                innerHtml += "<select style='display: none;' id='user"+ users[i].id +"'><option value='0'>대기</option><option value='1'>승인</option><option value='2' selected>거절</option></select></li>";
                            }*/

						}

					}
					finally{
						$('#users').html(innerHtml);
						addEventListenersToUsers();
					}
				})

			})

		}

		function addEventListenersToVolunteerPagingButtons(){
			$('#pagingVolunteers button.page').each(function(){

				$(this).click(function(){
					var pageNumber = $(this).text();
					var innerHtml = "";
					try{

						for(var i = 0; i < volunteers.length ; i++ ){

							if(i >= ((pageNumber-1)*usersPerPage) && i < (pageNumber*usersPerPage)){
								innerHtml += "<li><input type='checkbox' id='"+ volunteers[i].id + "' value='"+ volunteers[i].id +"' name='volunteerId'";
							}
							else{
								innerHtml += "<li style='display: none;'><input type='checkbox' id='"+ volunteers[i].id + "' value='"+ volunteers[i].id +"' name='volunteerId'";
							}

							if(clickedUsers.indexOf(volunteers[i].id.toString()) > -1){
								innerHtml += " disabled> <label for='"+ volunteers[i].id +"'>"+ volunteers[i].name +"</label>";
							}
							else{
								innerHtml += "> <label for='"+ volunteers[i].id +"'>"+ volunteers[i].name +"</label>";
							}

							if(volunteers[i].status==null || volunteers[i].status == 0){
								innerHtml += "<select style='display: none;' id='volunteer"+ volunteers[i].id +"'><option value='0' selected>대기</option><option value='1'>승인</option><option value='2'>거절</option></select></li>";
							}
							else if(volunteers[i].status == 1){
								innerHtml += "<select style='display: none;' id='volunteer"+ volunteers[i].id +"'><option value='0'>대기</option><option value='1' selected>승인</option><option value='2'>거절</option></select></li>";
							}
							else{
								innerHtml += "<select style='display: none;' id='volunteer"+ volunteers[i].id +"'><option value='0'>대기</option><option value='1'>승인</option><option value='2' selected>거절</option></select></li>";
							}

						}

					}
					finally{
						$('#volunteers').html(innerHtml);
						addEventListenersToVolunteers();
					}
				})

			})

		}


		function searchUsers(keyword){
			var innerHtml = "";
			var innerPage = "";
			var pages = 0;
			users = [];

			try{

				userStatusList.forEach(function(user){
					if(user.name.includes(keyword) && (user.type == null || user.type == 0)){
						users.push(user);
					}
				});

				if(users.length > 0){
					var count = 0;
					users.forEach(function(item){
						if(pages<1){
							innerHtml += "<li><input type='checkbox' id='"+ item.id + "' value='"+ item.id +"' name='userId'";
						}
						else{
							innerHtml += "<li style='display: none;'><input type='checkbox' id='"+ item.id + "' value='"+ item.id +"' name='userId'";
						}

						if(clickedVolunteers.indexOf(item.id.toString()) > -1){
							innerHtml += " disabled> <label for='"+ item.id +"'>"+ item.name +"</label></li>";
						}
						else{
							innerHtml += "> <label for='"+ item.id +"'>"+ item.name +"</label></li>";
						}


						/*if(item.status==null || item.status == 0){
                            innerHtml += "<select style='display: none;' id='user"+ item.id +"'><option value='0' selected>대기</option><option value='1'>승인</option><option value='2'>거절</option></select></li>";
                        }
                        else if(item.status == 1){
                            innerHtml += "<select style='display: none;' id='user"+ item.id +"'><option value='0'>대기</option><option value='1' selected>승인</option><option value='2'>거절</option></select></li>";
                        }
                        else{
                            innerHtml += "<select style='display: none;' id='user"+ item.id +"'><option value='0'>대기</option><option value='1'>승인</option><option value='2' selected>거절</option></select></li>";
                        }*/

						count++;

						if(count == usersPerPage){
							pages++;
							count = 0;
						}
					})

					numOfPages = (count>0)?pages+1:pages;

					for(var i = 0; i < numOfPages ; i++){
						innerPage += "<button type='button' class='page'>"+ (i+1) +"</button>";
					}
				}
				else{
					innerHtml = "그 이름의 이용자를 찾지 못했습니다";
				}

			}
			finally{

				$('#users').html(innerHtml);
				$('#pagingUsers').html(innerPage);

				addEventListenersToUsers();
				addEventListenersToUserPagingButtons();

			}

		}

		function searchVolunteers(keyword){
			var innerHtml = "";
			var innerPage = "";
			var pages = 0;
			volunteers = [];

			try{

				userStatusList.forEach(function(user){
					if(user.name.includes(keyword) && (user.type == null || user.type == 1)){
						volunteers.push(user);
					}
				});

				if(volunteers.length > 0){

					var count = 0;
					volunteers.forEach(function(item){
						if(pages<1){
							innerHtml += "<li><input type='checkbox' id='"+ item.id + "' value='"+ item.id +"' name='volunteerId'";
						}
						else{
							innerHtml += "<li style='display: none;'><input type='checkbox' id='"+ item.id + "' value='"+ item.id +"' name='volunteerId'";
						}

						if(clickedUsers.indexOf(item.id.toString()) > -1){
							innerHtml += " disabled> <label for='"+ item.id +"'>"+ item.name +"</label>";
						}
						else{
							innerHtml += "> <label for='"+ item.id +"'>"+ item.name +"</label>";
						}

						if(item.status==null || item.status == 0){
							innerHtml += "<select style='display: none;' id='volunteer"+ item.id +"'><option value='0' selected>대기</option><option value='1'>승인</option><option value='2'>거절</option></select></li>";
						}
						else if(item.status == 1){
							innerHtml += "<select style='display: none;' id='volunteer"+ item.id +"'><option value='0'>대기</option><option value='1' selected>승인</option><option value='2'>거절</option></select></li>";
						}
						else{
							innerHtml += "<select style='display: none;' id='volunteer"+ item.id +"'><option value='0'>대기</option><option value='1'>승인</option><option value='2' selected>거절</option></select></li>";
						}

						count++;

						if(count == usersPerPage){
							pages++;
							count = 0;
						}
					})

					numOfPagesVolunteers = (count>0)?pages+1:pages;

					for(var i = 0; i < numOfPagesVolunteers ; i++){
						innerPage += "<button type='button' class='page'>"+ (i+1) +"</button>";
					}

				}
				else{
					innerHtml = "그 이름의 이용자를 찾지 못했습니다";
				}

			}
			finally{

				$('#volunteers').html(innerHtml);
				$('#pagingVolunteers').html(innerPage);

				addEventListenersToVolunteers();
				addEventListenersToVolunteerPagingButtons();

			}

		}

		function getUsers(isSearch, category){
			$.get("/activitydata/getUsers", {id: null, category: category}, function(data) {

				userStatusList = data;

				if(isSearch){

					var userIdList = [];

					try{

						if(userStatusList!=null && userStatusList.length > 0){
							userStatusList.forEach(function(user){
								userIdList.push(user.id.toString());
							});
						}

					}
					finally{

						for(var i = clickedUsers.length -1; i >= 0 ; i--){
							if(userIdList.indexOf(clickedUsers[i]) == -1){
								clickedUsers.splice(i, 1);
							}
						}

						for(var i = clickedVolunteers.length -1; i >= 0 ; i--){
							if(userIdList.indexOf(clickedVolunteers[i]) == -1){
								clickedVolunteers.splice(i, 1);
							}
						}

					}
				}
				else{
					if(permittedVolunteer != null){
						clickedVolunteers.push(permittedVolunteer.id.toString());
						for(var i = 0; i < userStatusList.length ; i++){
							if(userStatusList[i].id == permittedVolunteer.id){
								userStatusList[i].status = 1;
								break;
							}
						}
					}
				}

				searchUsers("");
				searchVolunteers("");

				fancyClickUsers();
				fancyClickVolunteers();

			});
		}

		getUsers(false, $('select[name="interestCategoryId"]').val());

		$('select[name="interestCategoryId"]').on('change', function() {

			getUsers(true, $('select[name="interestCategoryId"]').val());

			if($('select[name="interestCategoryId"] option:selected').html().toString().includes("물건")){
				$('.deliveryGroup').show();
			}
			else{
				$('.deliveryGroup').hide();
			}

		});

		if($('select[name="interestCategoryId"] option:selected').html().toString().includes("물건")){
			$('.deliveryGroup').show();
		}
		else{
			$('.deliveryGroup').hide();
		}

		if(productImage!=null){

		}

		$('input#searchUsers').on('input', function() {searchUsers($('#searchUsers').val())});

		$('input#searchVolunteers').on('input', function() {searchVolunteers($('#searchVolunteers').val())});



	</script>


	<div lang="en" th:replace="common/footer :: footer"></div>

</body>
</html>