<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head lang="en" th:replace="common/header :: header"></head>
<body>

	<div lang="en" th:replace="common/menu :: menu"></div>

	<div id="main" style="margin-left: 15%">

		<div class="w3-teal">
			<button id="openNav" style="display: none"
				class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
			<div class="w3-container">
				<h1>활동 등록</h1>
			</div>
		</div>


		<div class="w3-container">

			<form action="/activity/activityForm" method="post"
				enctype="multipart/form-data">
				
				<input type="hidden" name="requestId" th:value="${requestDto?.id}" />

				제목 : <input type="text" name="title" th:value="${requestDto?.title}"> <br>
				<br> 카테고리: <select name="interestCategoryId">
					<option value="0">관심사를 선택하세요</option>
					<option th:each="interest : ${interests}" th:value="${interest.id}"
						th:text="${interest.name}" th:selected="${interest.id} == ${requestDto?.interestCategory?.id}"></option>
				</select><br>
				<br> 이용자:
				<input id="searchUsers" type="text" placeholder="유저 이름으로 검색">
				<ul id="users">
				
				</ul>
				<div id="pagingUsers">
				
				</div>
				<!--  <ul id="users">
					<li th:each="user : ${users}"><input type="checkbox"
						th:id="${user.id}" th:value="${user.id}" name="userId" /> <label
						th:for="${user.id}" th:text="${user.name}"></label></li>
				</ul> -->
				<input type="radio" id="direct" name="delivery" value="0" checked>
				<label for="direct">직접 수령</label> <input type="radio" id="through"
					name="delivery" value="1"> <label for="through">봉사사
					통해 전달</label><br> <br> 봉사자:
				<input id="searchVolunteers" type="text" placeholder="유저 이름으로 검색">
				<ul id="volunteers">
				
				</ul>
				<div id="pagingVolunteers">
				
				</div>
				<!--  <ul id="volunteers">
					<li th:each="volunteer : ${users}"><input type="checkbox"
						th:id="${volunteer.id}" th:value="${volunteer.id}"
						name="volunteerId" /> <label th:for="${volunteer.id}"
						th:text="${volunteer.name}"></label></li>
				</ul> -->
				<!-- <input type="checkbox" id="phoneAgree" name="phoneAgree" />   <label
					for="phoneAgree">전화번호 공유 동의</label> <br> <input
					type="checkbox" id="locationAgree" name="locationAgree" /> <label
					for="locationAgree">위치 공유 동의</label> -->  <br> 관리자: <select
					name="managerId">
					<option value="0">관리자를 선택하세요</option>
					<option th:each="manager : ${managers}" th:value="${manager.id}"
						th:text="${manager.name}"></option>
				</select><br>
				<br> 시작 시간: <input type="date" name="startDate"> <input
					type="time" name="startTime"> <br>
				<br> 끝 시간: <input type="date" name="endDate"> <input
					type="time" name="endTime"> <br>
				<br> 장소:
				<textarea name="place"></textarea>
				<br>
				<br> 마감 시간: <input type="date" name="deadlineDate"> <input
					type="time" name="deadlineTime"> <br>
				<br> 세부내용:
				<textarea name="content"></textarea>
				<br>
				<br> <input type="file" name="files" multiple> <br>
				<br> <input type="submit" value="등록">
			</form>

		</div>
		<a th:href="@{/activity}">
			<button>뒤로가기</button>
		</a>

		<script th:inline="javascript">
		
			const usersPerPage = 1;
			var numOfPages = 0;
			var numOfPagesVolunteers = 0;
			var users = [];
			var volunteers = [];
			var clickedUsers = [];
			var clickedVolunteers = [];
		
			function addEventListenersToUsers(){
				$('input[name="userId"]').each(function(){
					
					/*if($(this).prop('checked')){
		    			$('#editVolunteers li input[value="'+ $(this).val() +'"]').prop('disabled', true);
					}*/
					
					if(clickedUsers.indexOf($(this).val()) > -1){
						$(this).prop('checked', true);
	    			}
					
					$(this).click(function(){
						$('#volunteers li input[value="'+ $(this).val() +'"]').prop('disabled', function(i, v) { return !v; });
						
						if($(this).prop('checked')){
			    			if(clickedUsers.indexOf($(this).val()) == -1){
			    				clickedUsers.push($(this).val());
			    			}
						}
						else{
							if(clickedUsers.indexOf($(this).val()) > -1){
			    				clickedUsers.splice(clickedUsers.indexOf($(this).val()), 1);
			    			}
						}
						
					})
					
				})	
			}
			
			function addEventListenersToVolunteers(){
				
				$('input[name="volunteerId"]').each(function(){
					
					/*if($(this).prop('checked')){
		    			$('#editUsers li input[value="'+ $(this).val() +'"]').prop('disabled', true);
		    		}*/
					
					if(clickedVolunteers.indexOf($(this).val()) > -1){
						$(this).prop('checked', true);
	    			}
					
					$(this).click(function(){
						$('#users li input[value="'+ $(this).val() +'"]').prop('disabled', function(i, v) { return !v; });
						
						if($(this).prop('checked')){
			    			if(clickedVolunteers.indexOf($(this).val()) == -1){
			    				clickedVolunteers.push($(this).val());
			    			}
						}
						else{
							if(clickedVolunteers.indexOf($(this).val()) > -1){
			    				clickedVolunteers.splice(clickedVolunteers.indexOf($(this).val()), 1);
			    			}
						}
						
					})
					
				})
				
			}
			
			function addEventListenersToUserPagingButtons(){
				$('#pagingUsers button.page').each(function(){
					
					$(this).click(function(){
						var pageNumber = $(this).text();
						var innerHtml = "";
						try{
							
							for(var i = 0; i < users.length ; i++ ){
								
								if(i >= ((pageNumber-1)*usersPerPage) && i < (pageNumber*usersPerPage)){
									innerHtml += "<li><input type='checkbox' id='"+ users[i].id + "' value='"+ users[i].id +"' name='userId'";										
								}
								else{
									innerHtml += "<li style='display: none;'><input type='checkbox' id='"+ users[i].id + "' value='"+ users[i].id +"' name='userId'";	
								}
								
								if(clickedVolunteers.indexOf(users[i].id.toString()) > -1){
									innerHtml += " disabled> <label for='"+ users[i].id +"'>"+ users[i].name +"</label></li>";
								}
								else{
									innerHtml += "> <label for='"+ users[i].id +"'>"+ users[i].name +"</label></li>";
								}
								
							}
							
						}
						finally{
							$('#users').html(innerHtml);
							addEventListenersToUsers();
						}
					})
					
				})
				
			}
			
			function addEventListenersToVolunteerPagingButtons(){
				$('#pagingVolunteers button.page').each(function(){
					
					$(this).click(function(){
						var pageNumber = $(this).text();
						var innerHtml = "";
						try{
							
							for(var i = 0; i < volunteers.length ; i++ ){
								
								if(i >= ((pageNumber-1)*usersPerPage) && i < (pageNumber*usersPerPage)){
									innerHtml += "<li><input type='checkbox' id='"+ volunteers[i].id + "' value='"+ volunteers[i].id +"' name='volunteerId'";										
								}
								else{
									innerHtml += "<li style='display: none;'><input type='checkbox' id='"+ volunteers[i].id + "' value='"+ volunteers[i].id +"' name='volunteerId'";	
								}
								
								if(clickedUsers.indexOf(volunteers[i].id.toString()) > -1){
									innerHtml += " disabled> <label for='"+ volunteers[i].id +"'>"+ volunteers[i].name +"</label></li>";
								}
								else{
									innerHtml += "> <label for='"+ volunteers[i].id +"'>"+ volunteers[i].name +"</label></li>";
								}
								
							}
							
						}
						finally{
							$('#volunteers').html(innerHtml);
							addEventListenersToVolunteers();
						}
					})
					
				})
				
			}
			
			
			$('input#searchUsers').on('input', function(){
				var keyword = $('#searchUsers').val();
				
				$.get("/activitydata/getUsers", {keyword: keyword}, function(data) {
					var innerHtml = "";
					var innerPage = "";
					var pages = 0;
					users = data;
					
					try{
						if(data!=null && data.length>0){
							var count = 0;
							data.forEach(function(item){
								if(pages<1){
									innerHtml += "<li><input type='checkbox' id='"+ item.id + "' value='"+ item.id +"' name='userId'";									
								}
								else{
									innerHtml += "<li style='display: none;'><input type='checkbox' id='"+ item.id + "' value='"+ item.id +"' name='userId'";							
								}
								
								if(clickedVolunteers.indexOf(item.id.toString()) > -1){
									innerHtml += " disabled> <label for='"+ item.id +"'>"+ item.name +"</label></li>";
								}
								else{
									innerHtml += "> <label for='"+ item.id +"'>"+ item.name +"</label></li>";
								}
								
								count++;
								
								if(count == usersPerPage){
									pages++;
									count = 0;
								}
							})
							
							numOfPages = pages;
							
							for(var i = 0; i < pages ; i++){
								innerPage += "<button type='button' class='page'>"+ (i+1) +"</button>";
							}
						}
						else{
							innerHtml = "그 이름의 이용자를 찾지 못했습니다";
						}
					}
					finally{
						$('#users').html(innerHtml);
						$('#pagingUsers').html(innerPage);
						
						addEventListenersToUsers();
						addEventListenersToUserPagingButtons();
					}
					
        		});
				
			})
			
			$('input#searchVolunteers').on('input', function(){
				var keyword = $('#searchVolunteers').val();
				
				$.get("/activitydata/getUsers", {keyword: keyword}, function(data) {
					var innerHtml = "";
					var innerPage = "";
					var pages = 0;
					volunteers = data;
					
					try{
						if(data!=null && data.length>0){
							var count = 0;
							data.forEach(function(item){
								if(pages<1){
									innerHtml += "<li><input type='checkbox' id='"+ item.id + "' value='"+ item.id +"' name='volunteerId'";									
								}
								else{
									innerHtml += "<li style='display: none;'><input type='checkbox' id='"+ item.id + "' value='"+ item.id +"' name='volunteerId'";							
								}
								
								if(clickedUsers.indexOf(item.id.toString()) > -1){
									innerHtml += " disabled> <label for='"+ item.id +"'>"+ item.name +"</label></li>";
								}
								else{
									innerHtml += "> <label for='"+ item.id +"'>"+ item.name +"</label></li>";
								}
								
								count++;
								
								if(count == usersPerPage){
									pages++;
									count = 0;
								}
							})
							
							numOfPagesVolunteers = pages;
							
							for(var i = 0; i < pages ; i++){
								innerPage += "<button type='button' class='page'>"+ (i+1) +"</button>";
							}
						}
						else{
							innerHtml = "그 이름의 이용자를 찾지 못했습니다";
						}
					}
					finally{
						$('#volunteers').html(innerHtml);
						$('#pagingVolunteers').html(innerPage);
						
						addEventListenersToVolunteers();
						addEventListenersToVolunteerPagingButtons();
					}
					
        		});
				
			})
			
			
		
			
		</script>


		<div lang="en" th:replace="common/footer :: footer"></div>

	</div>
</body>
</html>