<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="common/header :: header">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<script type="text/javascript"
	src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=6e4jn9c1iy"></script>
<title>상대로 프로젝트</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<style>
.container {
	max-width: 100%;
}
</style>
</head>
<body>

	<div lang="en" th:replace="common/menu :: menu"></div>

	<div style="margin-top: 5%; margin-left: 15%" class="container">
		<div class="row mt-5 justify-content-center">
			<div class="col-4">
				<h2>제목</h2>
				<p class="lead">카테고리:</p>
				<p class="lead">상태:</p>
				<p class="lead">이용자:</p>
				<p class="lead">봉사자:</p>
				<p class="lead">날짜:</p>
				<p class="lead">장소:</p>
				<p class="lead">관제사:</p>
				<p class="lead">세부 내용:</p>
				<p class="lead">물건 사진:</p>
				<div>
					<button>목록</button>
					<button>수정</button>
				</div>
			</div>
			<div class="col-6">
				<div id="map" style="width: 100%; height: 400px;"></div>
			</div>
		</div>
	</div>
	<script>
        var map = new naver.maps.Map("map", {
            center: new naver.maps.LatLng(36.103056, 129.388444),
            zoom: 13,
            draggable: false,
            scrollWheel: false,
            keyboardShortcuts: false,
            disableDoubleTapZoom: true,
            disableDoubleClickZoom: true,
            disableTwoFingerTapZoom: true
        });

        var markers = [],
            infoWindows = [];

        var serviceLocation = new naver.maps.Marker({
            position: new naver.maps.LatLng(36.103056, 129.388444),
            title: "목적지",
            map: map
        });

        var viaLocation = new naver.maps.Marker({
            position: new naver.maps.LatLng(36.086872, 129.391449),
            title: "경유지",
            map: map
        });

        var userLocation = new naver.maps.Marker({
            position: new naver.maps.LatLng(36.082021, 129.398373),
            title: "이용자",
            map: map
        });

        markers.push(serviceLocation);
        markers.push(viaLocation);
        markers.push(userLocation);

        map.setCursor('pointer');

        function searchCoordinateToAddress(latlng, infoString) {

            var infoWindow = new naver.maps.InfoWindow({
                anchorSkew: true
            });

            naver.maps.Service.reverseGeocode({
                coords: latlng,
                orders: [
                    naver.maps.Service.OrderType.ADDR,
                    naver.maps.Service.OrderType.ROAD_ADDR
                ].join(',')
            }, function(status, response) {
                if (status === naver.maps.Service.Status.ERROR) {
                    if (!latlng) {
                        return alert('ReverseGeocode Error, Please check latlng');
                    }
                    if (latlng.toString) {
                        return alert('ReverseGeocode Error, latlng:' + latlng.toString());
                    }
                    if (latlng.x && latlng.y) {
                        return alert('ReverseGeocode Error, x:' + latlng.x + ', y:' + latlng.y);
                    }
                    return alert('ReverseGeocode Error, Please check latlng');
                }

                var items = response.v2.results,
                    address = '',
                    htmlAddresses = [];

                for (var i=0, ii=items.length, item, addrType; i<ii; i++) {
                    item = items[i];
                    address = makeAddress(item) || '';
                    addrType = item.name === 'roadaddr' ? '[도로명 주소]' : '[지번 주소]';

                    htmlAddresses.push((i+1) +'. '+ addrType +' '+ address);
                }

                infoWindow.setContent([
                    '<div style="padding:10px;min-width:200px;line-height:150%;">',
                    '<h4 style="margin-top:5px;">'+infoString+'</h4><br />',
                    htmlAddresses.join('<br />'),
                    '</div>'
                ].join('\n'));

                infoWindows.push(infoWindow);
            });
        }

        function initGeocoder() {
            if (!map.isStyleMapReady) {
                return;
            }

            for (var i=0, ii=markers.length; i<ii; i++) {
                searchCoordinateToAddress(markers[i].position, markers[i].title);
            }
        }

        function getClickHandler(seq) {
            return function(e) {
                var marker = markers[seq],
                    infoWindow = infoWindows[seq];

                if (infoWindow.getMap()) {
                    infoWindow.close();
                } else {
                    infoWindow.open(map, marker);
                }
            }
        }

        for (var i=0, ii=markers.length; i<ii; i++) {
            naver.maps.Event.addListener(markers[i], 'click', getClickHandler(i));
        }

        function makeAddress(item) {
            if (!item) {
                return;
            }

            var name = item.name,
                region = item.region,
                land = item.land,
                isRoadAddress = name === 'roadaddr';

            var sido = '', sigugun = '', dongmyun = '', ri = '', rest = '';

            if (hasArea(region.area1)) {
                sido = region.area1.name;
            }

            if (hasArea(region.area2)) {
                sigugun = region.area2.name;
            }

            if (hasArea(region.area3)) {
                dongmyun = region.area3.name;
            }

            if (hasArea(region.area4)) {
                ri = region.area4.name;
            }

            if (land) {
                if (hasData(land.number1)) {
                    if (hasData(land.type) && land.type === '2') {
                        rest += '산';
                    }

                    rest += land.number1;

                    if (hasData(land.number2)) {
                        rest += ('-' + land.number2);
                    }
                }

                if (isRoadAddress === true) {
                    if (checkLastString(dongmyun, '면')) {
                        ri = land.name;
                    } else {
                        dongmyun = land.name;
                        ri = '';
                    }

                    if (hasAddition(land.addition0)) {
                        rest += ' ' + land.addition0.value;
                    }
                }
            }

            return [sido, sigugun, dongmyun, ri, rest].join(' ');
        }

        function hasArea(area) {
            return !!(area && area.name && area.name !== '');
        }

        function hasData(data) {
            return !!(data && data !== '');
        }

        function checkLastString (word, lastString) {
            return new RegExp(lastString + '$').test(word);
        }

        function hasAddition (addition) {
            return !!(addition && addition.value);
        }

        naver.maps.onJSContentLoaded = initGeocoder;
        naver.maps.Event.once(map, 'init_stylemap', initGeocoder);
    </script>
</body>
</html>