#buttonSet {
    float: right;
    position: relative;
    right: -10px;
    margin-top: 20px;
}
#reset, #submit, #edit {
    border: none;
    width: 130px;
    background: transparent;
}
.key, .content {
    float: left;
}
.key {
    width: 150px;
    text-align: left;
    color: #019783;
    font-size: 18px;
}
.section1 {
    margin-bottom: 18px;
}
textarea {
    width: 80%;
    height: 300px;
}
input {
    width: 400px;
    border-radius: 30px;
    border: 1px solid #a5a5a5;
    color: #494949;
    padding: 0 0 0 10px;
    height: 25px;
    margin-right: 36px;
}

button > img {
    width: 100%;
}