@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

html{
    margin:0;
    padding:0;
    overflow-x: auto;
}
body {
    font-family: "Noto Sans KR", sans-serif !important;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    padding-top: 50px;
}

/*main*/
#main {
    display: inline-block;
    text-align: center;
    width: 75%;
    position: static;
    float: right;
    margin-top: 30px;
    font-size: 20px;
    color: #019783;
    padding-left: 5%;
    padding-right: 4%;
}

hr {
    position: static;
    width:90%;
    border: 0.5px solid #e6e6e6;
}

h4{
    text-align: left;
}
/*form{*/
/*    width: 90%;*/
/*}*/
#infoForm{
    width: 100%;
}

#basicBody {
    background-color: white;
    padding-left: 30px;
    border-radius: 10px;
    width: 100%;
    height: 630px;
    text-align: left;
}

@media (max-width:1411px){

    #basicBody{
        height: 630px;
    }
    hr{
        width: 90%;
    }
}

@media (max-width:1176px){
    #sidebar {
        height:900px;

    }
    #basicBody{
        height: 750px;
    }
}
@media (max-width:930px){
    body{
        width: 940px !important;
    }
}

