/*header*/
header {
    height: 60px;
    padding: 10px 15px 0 15px;
    background: url("/img/bar.png") no-repeat;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
}

#logo {
    float: left;
    /*padding-top: 10px;*/
    color: white;

}

#button {
    float: right;
}

#onoff {
    display: inline-block;
    position: relative;
    float: left;
    margin: 3px 5px 0 -70px;
    width: 60px;
}

#loginout {
    width: 85px;
    display: inline-block;
    position: relative;
    float: right;
    margin-top: 3px;
}