html, body {
  height: 100%;
  width: 100%;
  margin:0;
  padding: 0;
}
#login_wrapper{
  width:auto;
  height: 100%;
  min-height: 500px;
  background-image: url("/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
}

#login{
  width: 500px;
  background-color: white;
  border-radius: 10px;
}
.button {
  margin: 60px 0;
  width:80%;
}
