.inlinebox{
  display: inline-block;
}

.sub_heading{
  color: #019783;
  font-weight: bold;
  font-size: 18px;
  margin-right: 20px;
  width: auto;

}

#actManage {
  background-color: white;
  padding-left: 30px;
  /*border-radius: 0 0 15px 15px;*/
  /*width: 100%;*/
  height: 650px;
  text-align: left;
  overflow: auto;
  border-radius: 10px;
}
.title{
  display: inline-block;
  width: 130px;
  font-size: 16px;
  font-weight: 500;
  vertical-align: middle;
}

input[type=text]{
  border: 1px solid;
  border-radius: 20px;
  border-color: #a5a5a5;
  padding: 5px 16px;
  width: 150px;
  color: #000000;
  margin-right: 50px;
  margin-bottom: 10px;
  text-align: center;
}
input[type=date] {
  border: 1px solid;
  border-radius: 20px;
  border-color: #a5a5a5;
  padding: 3px 16px;
  color:  #494949;
  width: 60px;
  background: none;
}

input[type=time] {
  border: 1px solid;
  border-radius: 20px;
  border-color: #a5a5a5;
  padding: 3px 16px;
  color:  #494949;
  background: none;
  width: 60px;
}

input[type=number] {
  border: 1px solid;
  border-radius: 20px;
  border-color: #a5a5a5;
  padding: 5px 16px;
  width: 150px;
  color:  #494949;
  text-align: center;
}

input[type=textarea] {
  border: 1px solid;
  border-color: #a5a5a5;
  padding: 5px 16px;
  width: 400px;
  height: 200px;
  color:  #494949;
  margin: 20px 20px 0 0;
}


.edit{
  background: none;
  line-height: 2;
  border: none;
  color: #019783;
  font-size: 13px;
  margin: 0 10px;
  text-align:right;
  float: right;

}

.bar{
  height: 50px;
  background-color: #bbedd5;
  border-radius: 15px 15px 0px 0;
  padding: 10px 5px 0px 26px;
  text-align: left;
}

.heading{
  font-size: 20px;
  font-weight: normal;
  float: left;
  color: black;
  line-height: 2;
}
#tag{
  width: 100px;
  height: auto;
  float: left;
  margin-top: 5px;
  margin-left: 40px;
}

.row1{
  padding-top: 30px;
}

.line{
  clear: both;
  color: #e6e6e6;
  margin: 20px 0px;
}

.menu_name{
  color:#515151;
  font-weight: normal;
  margin: 20px 20px 0 0;
  font-size: 16px;
  clear: both;
}

.rightmenu2{
  position: relative;
  float: left;
  width: 65%;
  top: -15px;
  margin-left: 30px;
}

.rightmenu{
  float: left;
  position: relative;
  top: -30px;
}

.members{
  padding: 5px 16px;
  border-radius: 20px;
  width: 140px;
  color: #000000;
  margin-right: 5px;
  margin-bottom: 10px;
  font-size: 13px;
}

.workerblock{
  float: left;
  width: 90%;
}
.workertext{
  float: left;
  position: relative;
  top: -15px;
}

img {
  width: 100%;
}

#buttonSet {
  float: right;
  position: relative;
  right: -10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#submit {
  border: none;
  width: 130px;
  background: transparent;
}

.user{
  background: url('/img/28.png');
  margin-bottom: 20px;
}
.charge{
  background: url('/img/27.png');
}
.worker{
  background: url('/img/26.png');
  margin-bottom: 20px;
}

.placeholder {
  color: #a5a5a5;
}

.search_box{
  margin-left: 30px;
}
.searchbox{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.searchbox input#address{
  width: 75%;
  height: 28px;
  border: 1px solid #a5a5a5;
  float: left;
  color: #494949;
  padding: 0px;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
}

.searchbox .icon{
  position: absolute;
  top: 5%;
  margin-left: -30px;
  margin-top: 5px;
  z-index: 1;
  color: #494949;
}
.map{
  width: 300px;
  height: 200px;
  border: none;
  background-color: #f2f2f2;
  margin: 30px;
  margin-top: 5px;
  /*margin-left: 80px;*/
}
.sub_contentbox .leftmenu, .rightmenu{
  float: left;
  clear: none;
  margin-bottom: 20px;
}

.thing {
  float: right;
  margin-right: 43%;
  top: 0px
}

.explanationbox{
  /*margin-top: 20px;*/
}
@media (max-width:1588px){

  .workblock{
    margin-left: 30px;
  }

}
@media (max-width:1411px){
  /*#main{*/
  /*  width:70%;*/
  /*}*/
  #actManage{
    height: 650px;
  }
  .rightmenu2{
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
  }
  .rightmenu{
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
  }
  .thing {
    width: 30%;
    margin-right: 20%;
    top: -10px;
  }
  .workblock{
    margin-left: 50px;
  }
  .endtimemenu{
    margin-bottom: 10px;
  }
  #Paging button{
    font-size: 10px;
    margin: 2px;
  }
  #prev, #prevv #one, #two, #three, #next, #nextt{
    font-size: 10px;
    margin-right: 5px;
  }

  .selectmenu {
    float: left;
    margin-top: 20px;
    margin-left: 0px !important;}
  .separate{
    width: 200%;
  }


}
@media (max-width:1176px){
  /*#main{*/
  /*  width:60%;*/
  /*}*/
  .rightmenu2{
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
  }
  .rightmenu{
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
  }
  .thing {
    width: 80%;
    margin-right: 20%;
  }
  #images {
    float: right;
    margin-right: 53%;
  }
  .workblock{
    margin-left: 50px;
  }
  .sub_contentbox{
    height: 19%;
  }
  #actManage{
    height: 1100px;
  }
  .workertext{
    /*top: 0;*/
  }
  .endtimemenu{
    margin-bottom: 10px;
  }
  #Paging button{
    font-size: 10px;
    margin: 2px;
  }

  #prev, #prevv #one, #two, #three, #next, #nextt{
    font-size: 10px;
    margin-right: 5px;
  }

  .selectmenu {
    float: left;
    margin-top: 20px;
    margin-left: -200px;}

  table{
    margin-top:40px;
  }
  .menus {
    width: 100% !important;
    right: -50px !important;
  }
  .searchlist input#search {
    width: 160px !important;
  }
  .back, .selectm{
    width: 100px !important;
  }

}

@media (max-width:1168px){
  .back, .selectm {
    width: 95px !important;
  }
}

@media (max-width:1126px){
  .back, .selectm {
    width: 95px !important;
  }
  .searchlist input#search {
    width: 300px !important;
  }
  .menus {
    width: 100% !important;
    right: -150px !important;
  }
  .searchlist input#search {
    margin-bottom: 20px;
  }
  /*input[type=date] {*/
  /*  width: 50px !important;*/
  /*}*/
  /*input[type=time] {*/
  /*  width: 50px !important;*/
  /*}*/

}
