<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head lang="en" th:replace="common/header :: header">
    <meta charset="UTF-8">
    <title>상대로 프로젝트</title>
    <style>
        .container {
            max-width: 100%;
        }
    </style>
</head>
<body>

    <div lang="en" th:replace="common/menu :: menu"></div>

    <div id="main" style="margin-left: 15%"></div>

    <div class="container">
        <button id="openNav" style="display: none" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
        <div class="py-5 text-center">
            <h2>관심사 목록 관리</h2>
        </div>
        <!--<form action="/interest" method="get">
                <input type='radio' name='type' value=1 checked/> 자원봉사자
                <input type='radio' name='type' value=2 /> 이용자
                <input type="submit" value="테스트">
            </form>-->

        <div style="margin-left: 15%">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">관심사</th>
                        <th scope="col">사용자 수</th>
                        <th scope="col">삭제(비활성화)</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="interest : ${interestList}">
                    <th scope="row">
                        <span th:text="${interestStat.index}+1"></span>
                    </th>
                    <td>
                        <h5 th:id="InterestName+${interest.id}" th:text="${interest.name}" style="display: inline"></h5>
                        <input th:id="editName+${interest.id}" type="text" name="name" th:value="${interest.name}"
                               style="display: none;" placeholder="관심사 이름을 입력하세요."
                               aria-describedby="interestNameHelp" required minlength="2">
                        <small th:id="interestNameHelp+${interest.id}" style="display: none;">
                            2글자 이상 입력해주세요.
                        </small>
                        <small class="invalid-feedback">2글자 이상의 이름을 입력해주세요</small>
                        <!--                        <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</small>-->
                        <button th:id="editBtn+${interest.id}" th:onclick="|javascript:edit('${interest.id}')|">수정</button>
                        <button th:id="cancleBtn+${interest.id}" th:onclick="|javascript:cancle('${interest.id}')|" style="display: none;">취소</button>

<!--                        <form class="needs-validation col-sm-7" th:action="@{'/interest/edit/' + ${interest.id}}" th:object="${mod_interest}" th:method="post" novalidate>-->
<!--                            <input type="hidden" name="_method" value="put"/>-->

<!--                            <div class="row">-->
<!--                                <div class="form-group">-->
<!--                                    <input th:id="u_name+${interest.id}" type="text" name="name" style="width: 100px;" th:value="${interest.name}" placeholder="관심사 이름을 입력하세요."-->
<!--                                           aria-describedby="u_nameHelp" required minlength="2" > <br>-->
<!--&lt;!&ndash;                                   readonly ondblclick="this.readOnly='';" onblur="this.readOnly='true;'" &ndash;&gt;-->
<!--                                    <small id="u_nameHelp">-->
<!--                                        2글자 이상 입력해주세요.-->
<!--                                    </small>-->
<!--                                    <small class="invalid-feedback">2글자 이상의 이름을 입력해주세요</small>-->
<!--                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</small>-->
<!--                                </div>-->
<!--                                <div>-->
<!--                                    <input type="submit" value="수정">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </form>-->
                    </td>
                    <td>
                        <div>
                            <span>현재 <span style="font-weight: bold" th:text="${interest.count}"></span>명이 관심있어 합니다.</span>
                        </div>
                    </td>
                    <td>
                        <!--<form id="delete-form" th:action="@{'/interest/' + ${interest.id}}" method="post">-->
                        <input type="hidden" name="_method" value="delete"/>
                        <button id="delete-btn">삭제</button>
                        <!--</form>-->
                    </td>
                </tr>
                </tbody>
            </table>

            <form class="needs-validation" action="/interest/add" th:object="${interestDto}" method="post" novalidate>
                <label for="name">관심사 이름</label>
                <input id="name" type="text" name="name" placeholder="관심사 이름을 입력하세요." aria-describedby="nameHelp" required minlength="2">
                <small id="nameHelp">
                    2글자 이상 입력해주세요.
                </small>
                <small class="invalid-feedback">2글자 이상의 이름을 입력해주세요</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</small>
                <br>
                <input type="submit" value="관심사 추가">
            </form>
        </div>
    </div>

    <div lang="en" th:replace="common/footer :: footer"></div>

    <script th:replace="common/fragments.html :: form-validation"></script>

    <script type="text/javascript">

        function edit(id) {
            const editName = '#editName' + id;

            $(editName).toggle();

            $('#InterestName'+id).toggle();

            $('#cancleBtn'+id).toggle();

            $('#interestNameHelp'+id).toggle();

            if($('#editBtn'+id).html() == '수정'){
                $('#editBtn'+id).html('완료');
            } else{
                $('#editBtn'+id).html('수정');
                $.post("/interest/edit", {
                    id: id,
                    name: $(editName).val()
                }, function(data) {
                    $('#InterestName'+id).html(data);
                });
            }
        }

        function cancle(id) {
            $('#editName'+id).toggle();
            $('#InterestName'+id).toggle();
            $('#cancleBtn'+id).toggle();
            $('#interestNameHelp'+id).toggle();
            $('#editBtn'+id).html('수정');
        }

    </script>
</body>
</html>