<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="common/head.html"/>
</head>
<body>
  <header th:replace="common/menu :: header"></header>

  <div lang="en" th:replace="common/menu :: menu"></div>

  <div id="main">
    <h4>랭킹</h4>

    <div id="basicBody">

      <!-- TODO 월간, 주간 구현해야 함 -->
      <div class="row" style="margin-left: 15%">
        <li>
          <a th:href="'?scope=1'">전체</a>
        </li>
        <li>
          <a th:href="'?scope=2'">월간</a>
        </li>
        <li>
          <a th:href="'?scope=3'">주간</a>
        </li>
      </div>

      <div style="margin-left: 15%">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">등수</th>
            <th scope="col">유저 이름</th>
          </tr>
          </thead>

          <tbody>
          <tr th:each="userInfo : ${userRanking}">
            <th scope="row">
              <span th:text="${userInfoStat.index}+1"></span>
            </th>
            <td>
              <a th:href="@{'/user/detail/' + ${userInfo.id}}">
                <span th:text="${userInfo.name}"></span>
              </a>
              <span th:text="'(' + ${userInfo.volunteerTime} + ' 시간)'"></span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>



  <div lang="en" th:replace="common/footer :: footer"></div>

</body>
</html>