<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head lang="en">
  <title>상대로</title>
  <th:block th:replace="common/header :: head"/>

  <script type="text/javascript" src="/static/js/sidebar.js" charset="utf-8"></script>
</head>

<body>
  <header th:replace="common/header :: header"></header>

  <div lang="en" th:replace="common/menu :: menu"></div>

  <div id="main">
    <h4>홈 페이지</h4>

  </div>


  <div lang="en" th:replace="common/footer :: footer"></div>

</div>
</body>
</html>