<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <th:block th:replace="common/head.html"/>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div id = "login_wrapper">
        <div id = "logo">
            <img style="" src="/img/mainlogo.png">
        </div>
        <div id = "login">
            <img class="button" src="img/button_zip1.png" alt="login_button" usemap="#Map">
            <map name="Map">
                <area shape="rect" coords="12,12,390,61" href="/oauth2/authorization/google">
                <area shape="rect" coords="12,80,390,135" onclick="alert('현재 버전은 구글 로그인만 지원합니다.')">
                <area shape="rect" coords="12,150,390,205" onclick="alert('현재 버전은 구글 로그인만 지원합니다.')">
            </map>
        </div>
    </div>
</body>
</html> 