<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head lang="en" th:replace="common/header :: header"></head>
<body>

	<div lang="en" th:replace="common/menu :: menu"></div>

	<div id="main" style="margin-left: 15%">

		<div class="w3-teal">
			<button id="openNav" style="display: none"
				class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
			<div class="w3-container">
				<h1>활동 등록</h1>
			</div>
		</div>


		<div class="w3-container">

			<form action="/request/requestForm" method="post">

				제목 : <input type="text" name="title"> <br><br>
				
				카테고리: <select name="interestCategoryId">
    						<option value="0">관심사를 선택하세요</option>
    						<option th:each="interest : ${interests}" th:value="${interest.id}" th:text="${interest.name}"></option>
    					</select><br><br>
    			이용자: <ul>
    					<li th:each="user : ${users}">
    						<input type="checkbox" th:id="${user.id}" th:value="${user.id}" name="userId"/>
        					<label th:for="${user.id}" th:text="${user.name}"></label>
    					</li>
					  </ul>
    			<input type="radio" id="direct" name="delivery" value="0" checked>
    			<label for="direct">직접 수령</label>
    			<input type="radio" id="through" name="delivery" value="1"> 
    			<label for="through">봉사사 통해 전달</label><br> <br>
    			봉사자: <ul>
    					<li th:each="volunteer : ${users}">
    						<input type="checkbox" th:id="${volunteer.id}" th:value="${volunteer.id}" name="volunteerId"/>
        					<label th:for="${volunteer.id}" th:text="${volunteer.name}"></label>
    					</li>
					  </ul>
				<input type="checkbox" id="phoneAgree" name="phoneAgree" />
				<label for="phoneAgree">전화번호 공유 동의</label> <br>
				<input type="checkbox" id="locationAgree" name="locationAgree" />
				<label for="locationAgree">위치 공유 동의</label> <br>
    			관리자: <select name="managerId">
    						<option value="0">관리자를 선택하세요</option>
    						<option th:each="manager : ${managers}" th:value="${manager.id}" th:text="${manager.name}"></option>
    					</select><br><br>
    			시작 시간: <input type="date" name="startDate"> <input type="time" name="startTime"> <br><br>
    			끝 시간: <input type="date" name="endDate"> <input type="time" name="endTime"> <br><br>
    			장소: 
    			<textarea name="place"></textarea> <br><br>
    			마감 시간: <input type="date" name="deadlineDate"> <input type="time" name="deadlineTime"> <br><br>
				세부내용: 
				<textarea name="content"></textarea>
				<br><br> <input type="submit" value="등록">
			</form>

		</div>
		<a th:href="@{/request}">
			<button>뒤로가기</button>
		</a>


		<div lang="en" th:replace="common/footer :: footer"></div>

	</div>
</body>
</html>