<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head lang="en" th:replace="common/header :: header"></head>
<body>

<div lang="en" th:replace="common/menu :: menu"></div>

<div id="main" style="margin-left: 15%">

	<div class="w3-teal">
			<button id="openNav" style="display: none"
				class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
			<div class="w3-container">
				<h1>활동 상세 페이지</h1>
			</div>
		</div>
		<div class="w3-container"></div>

		<!-- show details -->
		<!-- data from controller -->
		<h2 th:text="${requestDto.title}"></h2>
	
		카테고리 :
		<p th:text="${requestDto.interestCategory.name}"></p>
		상태:
		<p th:switch="${requestDto.status}">
    		<span th:case="'0'">매칭 전</span>
    		<span th:case="'1'">진행중</span>
    		<span th:case="'2'">매칭 완료</span>
    		<span th:case="'3'">모집 마감</span>
		</p>
		이용자 :
		<table>
    		<tr>
        		<th>이름</th>
        		<th>전화번호</th>
    		</tr>
    		<tr th:each="user : ${requestDto.users}">
        		<td th:text="${user.name}"></td>
        		<td th:text="${user.phone}"></td>
    		</tr>
		</table>
		<br><br>
		봉사자 :
		<table>
    		<tr>
        		<th>이름</th>
        		<th>전화번호</th>
    		</tr>
    		<tr th:each="volunteer : ${requestDto.volunteers}">
        		<td th:text="${volunteer.name}"></td>
        		<td th:text="${volunteer.phone}"></td>
    		</tr>
		</table><br>
		전달 여부: <p th:text="${requestDto.deliveryFlag == 0} ? '직접 수령' : '봉사자 통해 전달'" />
		전화번호 공유 동의: <p th:text="${requestDto.phoneAgree == 0} ? 'X' : 'O'" />
		봉사시간:
		<br>[[${#temporals.format(requestDto.startTime, 'yyyy-MM-dd HH:mm')}]] ~ [[${#temporals.format(requestDto.endTime, 'yyyy-MM-dd HH:mm')}]]<br><br>
		장소:
		<p th:text="${requestDto.place}"></p>
		관리자: 
		<p th:text="${requestDto.manager.name}"></p>
		세부내용:
		<p th:text="${requestDto.content}"></p>
		마감시간:
		<br>[[${#temporals.format(requestDto.deadline, 'yyyy-MM-dd HH:mm')}]]<br><br>
		<a th:href="@{/request}">
			<button>목록</button>
		</a>
		<a th:href="@{'/request/requestForm/edit/' + ${requestDto.id}}">
			<button>수정</button>
		</a>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var requestDto = /*[[${requestDto}]]*/ "";
        /*]]>*/
    </script>
    <script th:inline="javascript"></script>
    
    
</div>

<div lang="en" th:replace="common/footer :: footer"></div>

</body>
</html>