<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="/css/listAct.css">
	<th:block th:replace="common/head.html"/>
	<style>
		img {
			width: 45px;
		}
		.menus {
			width: 470px;
		}
		.activeBtn {
			padding-left: 0px;
			padding-right: 0px;
		}
		.activeBtn > a > img {
			margin-left: 20px;
			margin-right: -10px;
		}
		.rejectBtn {
			margin-right: 30px;
		}
		.registeredBtn > a > img {
			width: 90px;
		}
		.fancybox-content {
			width: 350px;
		}
		.fancybox-content > img {
			width: 100%;
		}
	</style>
</head>
<body>
	<header th:replace="common/menu :: header"></header>

	<div lang="en" th:replace="common/menu :: menu"></div>

	<div id="main">
		<form action="/request" method="GET">
			<div class="upper">
				<h4 class="header">앱에서 들어온 요청</h4>
				<div class="menus">
					<div class="selectmenu">
						<div class="selectm">
							<select class="back" onchange="this.form.submit()" name="interestType">
								<option value="0">관심사</option>
								<option th:selected="${interestType==interest.id}"
										th:each="interest : ${interests}" th:value="${interest.id}"
										th:text="${interest.name}"></option>
							</select>
						</div>
						<div class="selectm">
							<select class="back" onchange="this.form.submit()" name="sort">
								<option th:selected="${sort==1}" value="1">최신순</option>
								<option th:selected="${sort==2}" value="2">오래된순</option>
							</select>
						</div>
					</div>
					<div class="searchlist searchboxlist">
						<input id="search" name="keyword" type="search" placeholder="제목으로 검색" th:value="${keyword}">
					</div>
				</div>
			</div>
			</form>

			<!-- payment list  -->
			<form action="/request" method="GET">
				<!-- update checked record's 'paymentCheck' status. -->

				<div id="actList">
					<table style="width: 100%;" cellpadding="0" cellspacing="0">
						<thead>
							<tr class="top">
								<th style="border-radius: 15px 0 0 0;">No.</th>
								<th>제목</th>
								<th>카테고리</th>
								<th>신청자</th>
								<th>요청 날짜</th>
								<th>상태</th>
								<th>이미지</th>
								<th colspan="2" style="border-radius: 0 15px 0 0;">활동 관리</th>
							</tr>
						</thead>

						<tbody>

						<!-- CONTENTS -->
						<tr th:each="request : ${requestList}">
							<th id="no">
								<span th:text="${totalNum}-8*(${currentPage}-1)-${requestStat.count}+1"></span>
							</th>
							<!--							<td><span th:text="${request.id}"></span></td>-->
							<td><span th:text="${request.title}"></span></td>
							<td><span th:if="${request.interestCategory}"
									  th:text="${request.interestCategory.name}"></span> <span
									th:if="${request.interestCategory==null}">——</span></td>
							<td><span th:if="${request.client}"
									  th:text="${request.client.name}"></span> <span
									th:if="${request.client==null}">——</span></td>
							<td><span
									th:text="${#temporals.format(request.regDate, 'yyyy-MM-dd HH:mm')}"></span>
							</td>
							<td><span th:if="${request.status == 0}">대기</span> <span
									th:if="${request.status == 1}">등록</span><span
									th:if="${request.status == 2}">거절</span></td>
							<td>
								<span th:if="${request.productImage == null}">--</span>
								<a th:if="${request.productImage}" data-fancybox th:data-src="${'#image' + request.id}" href="javascript:;"><img src="/img/basic_img.png" style="width: 15px"></a>
								<div th:if="${request.productImage}" style="display: none;" th:id="${'image' + request.id}">
									<img alt="image" th:src="@{${'/images/' + request.productImage}}" width="250" height="250">
								</div>
							</td>
							<td class="activeBtn" th:if="${request.status == 0} and ${request.event == null}">
								<a th:href="@{'/request/register/' + ${request.id}}">
<!--									<img src="/img/app_register.png">-->
									<img src="/img/app_confirm.png">
								</a>
							</td>
							<td class="activeBtn" th:if="${request.status == 0} and ${request.event}">
								<a th:href="@{'/request/permit/' + ${request.id}}">
									<img src="/img/app_approve.png">
								</a>
							</td>
							<td class="rejectBtn" th:if="${request.status == 0}">
<!--								<button type="button" th:data-requestId="${request.id}" onClick="rejectRequest(this.getAttribute('data-requestId'), this)">-->
								<img th:data-requestId="${request.id}" src="/img/app_reject.png" onClick="rejectRequest(this.getAttribute('data-requestId'), this)">
<!--								</button>-->
							</td>
							<td class="registeredBtn" th:if="${request.status == 1}" colspan="2">
								<a th:href="@{'/activity/' + ${request.event?.id}}">
									<img src="/img/app_registered.png">
								</a>
							</td>
							<td class="activeBtn" th:if="${request.status == 2}"></td>
							<td class="activeBtn" th:if="${request.status == 2}"></td>
						</tr>
						</tbody>
					</table>
				</div>

			</form>

			<!--  paging -->
			<div class="down">
				<div id="Paging">
					<span th:each="pageNum : ${pageList}" th:inline="text">
						<a th:href="@{'/request?page=' + ${pageNum} + '&keyword=' + ${keyword} + '&interestType=' + ${interestType}}">[[${pageNum}]]</a>
					</span>
				</div>
			</div>
			<!-- paging end -->
			
			<script th:inline="javascript">
			
				function rejectRequest(id, event){
					$.post("/requestdata/setStatus", {id: id, status: 2}, function(data) {
						if(data == 2){
							$(event).parent().prev().prev().prev().text("거절");
							$(event).toggle();
							$(event).parent().prev().toggle();
						}
						
	            	});
				}
			
			</script>

		</div>

		<div lang="en" th:replace="common/footer :: footer"></div>

	</div>
</body>
</html>