<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head lang="en" th:replace="common/header :: header">
</head>
<body>
<div lang="en" th:replace="common/menu :: menu"></div>

<div id="main" style="margin-left: 15%">

<div class="w3-teal">
  <button id="openNav" style="display: none" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
  <div class="w3-container">
    <h1>카테고리 추가</h1>
  </div>
</div>
    
    <form action="/notice/category/add" method="post">
    	항목 : <input type="text" name="memo" maxlength="10"> <br>
    	Top : 
    	<select name="topCategory">
        	<option type="number" value="1" th:selected="${category} == 1">공지사항</option>
        	<option type="number" value="2" th:selected="${category} == 2">커뮤니티</option>
        	<option type="number" value="3" th:selected="${category} == 3">문의</option>
        </select><br>
    	Manager : <input type="text" name="communityManager"> <br>
        <input type="submit" value="등록">
        <a th:href="@{'/'+${path}+'/category'}">목록</a>
    </form>
    
    <div lang="en" th:replace="common/footer :: footer"></div>

</div>

</body>
<script src="${pageContext.request.contextPath}/resources/static/js/ckeditor.js"></script>

</html>