<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/insertAct.css">
    <th:block th:replace="common/head.html"/>
    <link rel="stylesheet" href="/css/boardType.css">
</head>
<body>
    <header th:replace="common/menu :: header"></header>

    <div lang="en" th:replace="common/menu :: menu"></div>

    <div id="main">
        <h4>하위 카테고리 상세</h4>

        <div id="actInfo" style="height: 150px">
            <input type="hidden" id="categoryId" th:value="${categoryDto.id}">
            <br>
            <div class="section1">
                <div class="key">
                    이름
                </div>
                <div class="content">
                    <input type="text" name="title" th:value="${categoryDto.memo}" disabled>
                </div>
            </div>
<!--            <br>-->
<!--            <div class="section1">-->
<!--                <div class="key">-->
<!--                    상위 카테고리-->
<!--                </div>-->
<!--                <div class="content">-->
<!--                    <input type="text" name="parent" th:if="${categoryDto.topCategory==1}" value="공지사항" disabled>-->
<!--                </div>-->
<!--            </div>-->
            <br>
            <div class="section1">
                <div style="float: left;width: 60%">
                    <div class="key">
                        관리자
                    </div>
                    <div class="content" style="width: 30%">
                        <input type="text" name="manager" th:value="${categoryDto.communityManager}" style="width: 100%" disabled>
                    </div>
                </div>
                <div style="float: left;width: 40%">
                    <div class="key">
                        생성일
                    </div>
                    <div class="content" style="width: 30%">
                        <input type="text" name="date" th:value="${#temporals.format(categoryDto.modDate, 'yyyy-MM-dd HH:mm')}" style="width: 100%" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div id="buttonSet">
            <button id="reset" type="button" name="button" onclick="goBack()"><img src="/img/list_big.png"></button>
            <button id="edit" type="button" name="button" onclick="goEdit()"><img src="/img/mod_big.png"></button>
<!--            <form id="delete-form" th:action="@{'/'+${path}+'/category/delete/' + ${categoryDto.id}}" method="post">-->
<!--                <input type="hidden" name="_method" value="delete"/>-->
<!--                <button id="delete-btn">삭제</button>-->
<!--            </form>-->
        </div>
    </div>

    <div lang="en" th:replace="common/footer :: footer"></div>
    <script>
        function goBack() {
            window.history.back();
        }

        function goEdit() {
            var path="/notice/category/edit/";
            path+=document.getElementById("categoryId").value;
            location.href=path;
        }
    </script>
</body>
</html>